# Copyright (c) 2013 The Chromium Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

slaves = [
  # Linux.
  {
    'master': 'LibyuvTryServer',
    'os': 'linux',
    'version': 'lucid',
    'bits': '64',
    'builder': ['linux', 'linux_memcheck'],
    'hostname': 'vm787-m4',
  },
  {
    'master': 'LibyuvTryServer',
    'os': 'linux',
    'version': 'lucid',
    'bits': '64',
    'builder': ['linux_rel', 'linux_tsan', 'linux_asan'],
    'hostname': 'vm788-m4',
  },

  # Mac.
  {
    'master': 'LibyuvTryServer',
    'os': 'mac',
    'version': '10.8',
    'bits': '64',
    'builder': ['mac', 'mac_rel', 'mac_asan'],
    'hostname': 'vm748-m4',
  },

  # Windows.
  {
    'master': 'LibyuvTryServer',
    'os': 'win',
    'version': 'win7',
    'bits': '64',
    'builder': ['win', 'win_rel'],
    'hostname': 'vm789-m4',
  },
]

