# -*- python -*-
# ex: set syntax=python:

# Copyright 2017 The Chromium Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

slaves = [
  {
    'master': 'V8Chromium',
    'hostname': 'fake-slave-5',
    'builder': 'Linux - Future',
    'os': 'linux',
    'version': 'trusty',
    'bits': '64',
  },
  {
    'master': 'V8Chromium',
    'hostname': 'fake-slave-6',
    'builder': 'Linux - Future (dbg)',
    'os': 'linux',
    'version': 'trusty',
    'bits': '64',
  },
  {
    'master': 'V8Chromium',
    'hostname': 'fake-slave-7',
    'builder': 'Linux V8 API Stability',
    'os': 'linux',
    'version': 'trusty',
    'bits': '64',
  },
]
