# -*- python -*-
# ex: set syntax=python:

# Copyright 2012 The Chromium Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# See master.experimental/slaves.cfg for documentation.

# This information is as of 12 Apr 2016. The following run every build:
# Release (33 mins)
# Debug (26 mins)
# Coverage (1 hour 21 mins)
#
# Official (1 hour 17 mins) only runs on changes to SYZYGY_VERSION.
# Smoke Test (1 hour 49 mins) only runs on commits of new binaries.

slaves = [
  # This is the older, smaller slave (60GB).
  {
    'master': 'Syzygy',
    'builder': ['Kasko Official',
                'Syzygy Debug'],
    'hostname': 'vm140-m3',
    'os': 'win',
    'version': 'win7',
    'bits': '64',
  },
  # This is the newer, bigger slave (250GB).
  {
    'master': 'Syzygy',
    'builder': ['Syzygy Coverage'],
    'hostname': 'vm332-m3',
    'os': 'win',
    'version': 'win7',
    'bits': '64',
  },
  {
    'master': 'Syzygy',
    'builder': ['Syzygy Official'],
    'hostname': 'vm102-m3',
    'os': 'win',
    'version': 'win7',
    'bits': '64',
  },
  {
    'master': 'Syzygy',
    'builder': ['Syzygy Release'],
    'hostname': 'vm103-m3',
    'os': 'win',
    'version': 'win7',
    'bits': '64',
  },
  {
    'master': 'Syzygy',
    'builder': ['Syzygy Smoke Test',
                'Syzygy Debug x64',
                'Syzygy Release x64'],
    'hostname': 'vm110-m3',
    'os': 'win',
    'version': 'win7',
    'bits': '64',
  },
]
