# -*- python -*-
# ex: set syntax=python:

# Copyright (c) 2012 The Chromium Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.


slaves = [
  {
    'master': 'AnanthaQATest',
    'hostname': 'vm73-m1',
    'builder': 'None',
    'os': 'win',
    'version': 'xp',
    'bits': '32',
  },
  {
    'master': 'xusydocTest',
    'hostname': 'vm63-m1',
    'builder': 'None',
    'os': 'linux',
    'version': 'unbutu',
    'bits': '64',
  },
]
