# -*- python -*-
# ex: set syntax=python:
# Copyright (c) 2011 The Chromium Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# See master.experimental/slaves.cfg for documentation.


slaves = []

# Linux
OFFSET = 36
NUMBER = 68-36
for i in xrange(OFFSET, OFFSET+NUMBER):
  # Max 4 checkouts per slave.
  builders = [
      # One line per shared directory:
      'linux', 'linux_rel', 'linux_layout', 'linux_layout_rel', 'linux_sync',
      'linux_view',
      'linux_chromeos',
  ]
  # First half has linux_valgrind and linux_tsan (shared slavebuilddir).
  # The other half linux_chromeos_valgrind.
  if (i - OFFSET) <= (NUMBER / 2):
    builders.extend(['linux_valgrind', 'linux_tsan'])
  else:
    builders.extend(['linux_chromeos_valgrind'])
  slaves.append({
    'master': 'TryServer',
    'builder': builders,
    'hostname': 'vm%d-m4' % i,
    'os': 'linux',
    'version': 'hardy',
    'bits': '64',
  })
# vm78-m4 to vm84-m4 = hardy 32

slaves.extend([
  {
    # TODO(maruel): Add one eventually.
    'master': 'TryServer',
    'builder': 'ChromiumOS x86',
    'slavename': 'chromiumos-1',
    'os': 'linux',
  },
  {
    'master': 'TryServer',
    'builder': ['linux_coverage'],
    'hostname': 'vm70-m4',
    'os': 'linux',
    'version': 'hardy',
    'bits': '64',
  },
  {
    # TODO(maruel): Add one eventually.
    'master': 'TryServer',
    'builder': 'ChromiumOS arm',
    'slavename': 'chromiumos-2',
    'os': 'linux',
    'version': 'hardy',
    'bits': '64',
  },
  {
    'master': 'TryServer',
    'builder': 'linux_clang',
    'hostname': 'vm104-m4',
    'os': 'linux',
    'version': 'hardy',
    'bits': '64',
  },
])


# MAC
for i in xrange(1, 26):
  slaves.append({
    'master': 'TryServer',
    'builder': [
        # One line per shared directory:
        'mac', 'mac_rel', 'mac_layout', 'mac_layout_rel', 'mac_sync',
        'mac_valgrind',
    ],
    'hostname': 'mini%d-m4' % i,
    'os': 'mac',
    'version': '10.6',
    'bits': '64',
  })


# Windows
for i in xrange(1, 36):
  slaves.append({
    'master': 'TryServer',
    'builder': ['win', 'win_rel', 'win_sync'],
    #'win_layout_7'
    'hostname': 'vm%d-m4' % i,
    'os': 'win',
    'version': 'vista',
    'bits': '64',
  })

for i in xrange(71, 77):
  slaves.append({
    'master': 'TryServer',
    'builder': ['win_layout', 'win_layout_rel'],
    'hostname': 'vm%d-m4' % i,
    'os': 'win',
    'version': 'xp',
    'bits': '32',
  })

slaves.extend([
  {
    # TODO(maruel): Add one eventually.
    'master': 'TryServer',
    'builder': 'win_layout_7',
    'hostname': 'win7_slave',
    'os': 'win',
    'version': '7',
    'bits': '64',
  },
])
