# -*- python -*-
# ex: set syntax=python:

# Copyright (c) 2012 The Chromium Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# See master.experimental/slaves.cfg for documentation.

slaves = [
  {
    'master': 'DartFYI',
    'builder': ['dart2js-linux-release',
                'dart2js-linux-debug-checked-host-checked'],
    'hostname': 'vm341-m3',
    'os': 'linux',
    'version': 'precise',
    'bits': '64',
  },
  {
    'master': 'DartFYI',
    'builder': ['dart2js-linux-debug-checked'],
    'hostname': 'vm127-m3',
    'os': 'linux',
    'version': 'precise',
    'bits': '64',
  },
  {
    'master': 'DartFYI',
    'builder': ['dart2js-linux-debug-host-checked'],
    'hostname': 'vm187-m3',
    'os': 'linux',
    'version': 'precise',
    'bits': '64',
  },
  {
    'master': 'DartFYI',
    'builder': ['dart-editor-fyi-linux',
                'dart2js-chrome-linux'],
    'hostname': 'vm342-m3',
    'os': 'linux',
   'version': 'precise',
    'bits': '64',
  },
  {
    'master': 'DartFYI',
    'builder': ['dart2js-linux-debug',
                'dart2js-linux-release-checked-host-checked-x64'],
    'hostname': 'vm153-m3',
    'os': 'linux',
    'version': 'precise',
    'bits': '64',
  },
  {
    'master': 'DartFYI',
    'builder': ['dart2js-linux-release-host-checked',
                'dart2js-linux-release-checked-host-checked'],
    'hostname': 'vm159-m3',
    'os': 'linux',
    'version': 'precise',
    'bits': '64',
  },
  {
    'master': 'DartFYI',
    'builder': ['dart2js-chromeOnAndroid-linux'],
    'hostname': 'chromeperf02',
    'os': 'linux',
    'version': 'precise',
    'bits': '64',
  },
  {
    'master': 'DartFYI',
    'builder': ['analyzer_experimental-linux-release'],
    'hostname': 'vm26-m3',
    'os': 'linux',
    'version': 'precise',
    'bits': '64',
  },
  {
    'master': 'DartFYI',
    'builder': ['release-lucid64-full-trunk', 'vm-android-linux',
                'v8-linux-release', 'dart2js-ff-linux'],
    'hostname': 'vm340-m3',
    'os': 'linux',
    'version': 'precise',
    'bits': '64',
  },
  {
    'master': 'DartFYI',
    'builder': ['dart2js-opera-win8', 'dart-editor-fyi-win'],
    'hostname': 'vm237-m3',
    'os': 'win',
    'version': 'win8',
    'bits': '64',
  },
  {
    'master': 'DartFYI',
    'builder': ['dart-editor-fyi-mac', 'v8-mac-release'],
    'hostname': 'vm607-m3',
    'os': 'mac',
    'version': '10.7',
    'bits': '64',
  },
  {
    'master': 'DartFYI',
    'builder': ['v8-win-release'],
    'hostname': 'vm210-m3',
    'os': 'win',
    'version': 'win7',
    'bits': '64',
  },
]


# This is hack to eliminate the need for sharing code between master and
# clients. These channels are replicated in scripts/factory/dart/channels.py.
channel_postfixes = ['-be', '-dev', '-stable']

def is_channel_builder(builder):
  """Returns true if the builder name is already specific to a channel
  (i.e. the builder ends with a channel postfix)."""
  for postfix in channel_postfixes:
    if builder.endswith(postfix):
      return True
  return False

def duplicate_builders_in_slaves(slaves):
  """Traverses a list of slaves and duplicates the builders associated with each
  slave for every channel. The channels have specified the postfix."""
  for slave in slaves:
    all_builders = []
    for builder in slave.get('builder', ()):
      if ('trunk' not in builder
          and 'v8' not in builder
          and not is_channel_builder(builder)):
        for channel in channel_postfixes:
          all_builders.append('%s%s' % (builder, channel))
      else:
        all_builders.append(builder)
    slave['builder'] = all_builders
  return slaves

slaves = duplicate_builders_in_slaves(slaves)

