# -*- python -*-
# ex: set syntax=python:

# Copyright (c) 2012 The Chromium Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# See master.experimental/slaves.cfg for documentation.


slaves = [
  {
    'master': 'DartFYI',
    'builder': ['dart2js-linux-debug',
                'dart2js-linux-debug-checked',
                'dart2js-linux-debug-host-checked',
                'dart2js-linux-debug-checked-host-checked'],
    'hostname': 'vm193-m3',
    'os': 'linux',
    'version': 'lucid',
    'bits': '64',
  },
  {
    'master': 'DartFYI',
    'builder': ['dart2js-linux-release-host-checked'],
    'hostname': 'vm165-m3',
    'os': 'linux',
    'version': 'lucid',
    'bits': '64',
  },
  {
    'master': 'DartFYI',
    'builder': ['dart2js-linux-jsshell-release-1-4'],
    'hostname': 'vm203-m3',
    'os': 'linux',
    'version': 'lucid',
    'bits': '64',
  },
  {
    'master': 'DartFYI',
    'builder': ['dart2js-linux-jsshell-release-2-4'],
    'hostname': 'vm204-m3',
    'os': 'linux',
    'version': 'lucid',
    'bits': '64',
  },
  {
    'master': 'DartFYI',
    'builder': ['dart2js-linux-jsshell-release-3-4'],
    'hostname': 'vm205-m3',
    'os': 'linux',
    'version': 'lucid',
    'bits': '64',
  },
  {
    'master': 'DartFYI',
    'builder': ['dart2js-linux-jsshell-release-4-4'],
    'hostname': 'vm206-m3',
    'os': 'linux',
    'version': 'lucid',
    'bits': '64',
  },
  {
    'master': 'DartFYI',
    'builder': ['dart2js-linux-release-checked-host-checked'],
    'hostname': 'vm167-m3',
    'os': 'linux',
    'version': 'lucid',
    'bits': '64',
  },
  {
    'master': 'DartFYI',
    'builder': ['vm-android-linux'],
    'hostname': 'vm18-m3',
    'os': 'linux',
    'version': 'lucid',
    'bits': '64',
  },
  {
    'master': 'DartFYI',
    'builder': ['dart2js-opera-win8'],
    'hostname': 'vm237-m3',
    'os': 'win8',
    'version': 'win8',
    'bits': '64',
  },
  {
    'master': 'DartFYI',
    'builder': ['pub-linux'],
    'hostname': 'vm207-m3',
    'os': 'linux',
    'version': 'lucid',
    'bits': '64',
  },
  {
    'master': 'DartFYI',
    'builder': ['pub-win'],
    'hostname': 'vm208-m3',
    'os': 'win',
    'version': 'win7',
    'bits': '32',
  },
  {
    'master': 'DartFYI',
    'builder': ['pub-mac'],
    'hostname': 'vm648-m3',
    'os': 'mac',
    'version': '10.6',
    'bits': '64',
  },
  {
    'master': 'DartFYI',
    'builder': ['dart2js-ff-win7'],
    'hostname': 'vm148-m3',
    'os': 'win',
    'version': 'win7',
    'bits': '64',
  },
]
