# -*- python -*-
# ex: set syntax=python:

# Copyright (c) 2017 The Chromium Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# See master.experimental/slaves.cfg for documentation.


slaves = [
  {
    'master': 'ChromiumSandbox',
    'hostname': 'build73-m1',
    'builder': 'Linux Builder SANDBOX',
    'os': 'linux',
    'version': 'trusty',
    'bits': '64',
  },
  {
    'master': 'ChromiumSandbox',
    'builder': 'Linux Tests SANDBOX',
    'hostname': 'slave169-c1',
    'os': 'linux',
    'version': 'trusty',
    'bits': '64',
  },
  {
    'master': 'ChromiumSandbox',
    'builder': 'Deterministic Linux SANDBOX',
    'hostname': 'slave170-c1',
    'os': 'linux',
    'version': 'trusty',
    'bits': '64',
  },
  {
    'master': 'ChromiumSandbox',
    'builder': 'Fuchsia Compile SANDBOX',
    'hostname': 'slave171-c1',
    'os': 'linux',
    'version': 'trusty',
    'bits': '64',
  },
]
