# -*- python -*-
# ex: set syntax=python:

# Copyright (c) 2012 The Chromium Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# See master.experimental/slaves.cfg for documentation.


slaves = [
################################################################################
# Full
################################################################################
  {
    'master': 'Chromium',
    'hostname': 'build51-m1',
    'builder': 'Win',
    'os': 'win',
    'version': '2008',
    'bits': '64',
  },
  {
    'master': 'Chromium',
    'hostname': 'xserve1-m1',
    'builder': 'Mac',
    'os': 'mac',
    'version': '10.6',
    'bits': '64',
  },
  {
    'master': 'Chromium',
    'hostname': 'build6-m1',
    'builder': 'Linux',
    'os': 'linux',
    'version': 'lucid',
    'bits': '32',
  },
  {
    'master': 'Chromium',
    'hostname': 'build56-m1',
    'builder': 'Linux x64',
    'os': 'linux',
    'version': 'lucid',
    'bits': '64',
  },
################################################################################
# Windows
################################################################################
  {
    'master': 'Chromium',
    'hostname': 'build2-m1',
    'builder': 'Win Builder',
    'os': 'win',
    'version': '2008',
    'bits': '64',
  },
  {
    'master': 'Chromium',
    'hostname': 'vm27-m1',
    'builder': 'XP Tests (1)',
    'os': 'win',
    'version': 'xp',
    'bits': '32',
  },
  {
    'master': 'Chromium',
    'hostname': 'vm17-m1',
    'builder': 'XP Tests (2)',
    'os': 'win',
    'version': 'xp',
    'bits': '32',
  },
  {
    'master': 'Chromium',
    'hostname': 'vm88-m1',
    'builder': 'XP Tests (3)',
    'os': 'win',
    'version': 'xp',
    'bits': '32',
  },
  {
    'master': 'Chromium',
    'hostname': 'vm2-m1',
    'builder': 'Vista Tests (1)',
    'os': 'win',
    'version': 'vista',
    'bits': '64',
  },
  {
    'master': 'Chromium',
    'hostname': 'vm25-m1',
    'builder': 'Vista Tests (2)',
    'os': 'win',
    'version': 'vista',
    'bits': '64',
  },
  {
    'master': 'Chromium',
    'hostname': 'vm76-m1',
    'builder': 'Vista Tests (3)',
    'os': 'win',
    'version': 'vista',
    'bits': '64',
  },
  {
    'master': 'Chromium',
    'hostname': 'vm180-m1',
    'builder': 'Win7 Tests (1)',
    'os': 'win',
    'version': 'win7',
    'bits': '64',
  },
  {
    'master': 'Chromium',
    'hostname': 'vm181-m1',
    'builder': 'Win7 Tests (2)',
    'os': 'win',
    'version': 'win7',
    'bits': '64',
  },
  {
    'master': 'Chromium',
    'hostname': 'vm182-m1',
    'builder': 'Win7 Tests (3)',
    'os': 'win',
    'version': 'win7',
    'bits': '64',
  },
  {
    'master': 'Chromium',
    'hostname': 'vm3-m1',
    'builder': 'NACL Tests',
    'os': 'win',
    'version': 'xp',
    'bits': '32',
  },
  {
    'master': 'Chromium',
    'hostname': 'vm4-m1',
    'builder': 'NACL Tests (x64)',
    'os': 'win',
    'version': 'vista',
    'bits': '64',
  },
  {
    'master': 'Chromium',
    'hostname': 'vm5-m1',
    'builder': 'Chrome Frame Tests (ie6)',
    'os': 'win',
    'version': 'xp',
    'bits': '32',
  },
  {
    'master': 'Chromium',
    'hostname': 'vm6-m1',
    'builder': 'Chrome Frame Tests (ie7)',
    'os': 'win',
    'version': 'vista',
    'bits': '64',
  },
  {
    'master': 'Chromium',
    'hostname': 'vm7-m1',
    'builder': 'Chrome Frame Tests (ie8)',
    'os': 'win',
    'version': 'win7',
    'bits': '64',
  },
  {
    'master': 'Chromium',
    'hostname': 'build53-m1',
    'builder': 'Win Builder (dbg)',
    'os': 'win',
    'version': '2008',
    'bits': '64',
  },
  {
    'master': 'Chromium',
    'hostname': 'build50-m1',
    'builder': 'Win Builder 2008 (dbg)',
    'os': 'win',
    'version': '2008',
    'bits': '64',
  },
  {
    'master': 'Chromium',
    'hostname': 'vm28-m1',
    'builder': 'XP Tests (dbg)(1)',
    'os': 'win',
    'version': 'xp',
    'bits': '32',
  },
  {
    'master': 'Chromium',
    'hostname': 'vm86-m1',
    'builder': 'XP Tests (dbg)(1)',
    'os': 'win',
    'version': 'xp',
    'bits': '32',
  },
  {
    'master': 'Chromium',
    'hostname': 'vm9-m1',
    'builder': 'XP Tests (dbg)(2)',
    'os': 'win',
    'version': 'xp',
    'bits': '32',
  },
  {
    'master': 'Chromium',
    'hostname': 'vm105-m1',
    'builder': 'XP Tests (dbg)(2)',
    'os': 'win',
    'version': 'xp',
    'bits': '32',
  },
  {
    'master': 'Chromium',
    'hostname': 'vm10-m1',
    'builder': 'XP Tests (dbg)(3)',
    'os': 'win',
    'version': 'xp',
    'bits': '32',
  },
  {
    'master': 'Chromium',
    'hostname': 'vm114-m1',
    'builder': 'XP Tests (dbg)(3)',
    'os': 'win',
    'version': 'xp',
    'bits': '32',
  },
  {
    'master': 'Chromium',
    'hostname': 'vm11-m1',
    'builder': 'XP Tests (dbg)(4)',
    'os': 'win',
    'version': 'xp',
    'bits': '32',
  },
  {
    'master': 'Chromium',
    'hostname': 'vm125-m1',
    'builder': 'XP Tests (dbg)(4)',
    'os': 'win',
    'version': 'xp',
    'bits': '32',
  },
  {
    'master': 'Chromium',
    'hostname': 'vm18-m1',
    'builder': 'XP Tests (dbg)(5)',
    'os': 'win',
    'version': 'xp',
    'bits': '32',
  },
  {
    'master': 'Chromium',
    'hostname': 'vm127-m1',
    'builder': 'XP Tests (dbg)(5)',
    'os': 'win',
    'version': 'xp',
    'bits': '32',
  },
  {
    'master': 'Chromium',
    'hostname': 'vm89-m1',
    'builder': 'XP Tests (dbg)(6)',
    'os': 'win',
    'version': 'xp',
    'bits': '32',
  },
  {
    'master': 'Chromium',
    'hostname': 'vm130-m1',
    'builder': 'XP Tests (dbg)(6)',
    'os': 'win',
    'version': 'xp',
    'bits': '32',
  },
  {
    'master': 'Chromium',
    'hostname': 'vm183-m1',
    'builder': 'Win7 Tests (dbg)(1)',
    'os': 'win',
    'version': 'win7',
    'bits': '64',
  },
  {
    'master': 'Chromium',
    'hostname': 'vm184-m1',
    'builder': 'Win7 Tests (dbg)(2)',
    'os': 'win',
    'version': 'win7',
    'bits': '64',
  },
  {
    'master': 'Chromium',
    'hostname': 'vm185-m1',
    'builder': 'Win7 Tests (dbg)(3)',
    'os': 'win',
    'version': 'win7',
    'bits': '64',
  },
  {
    'master': 'Chromium',
    'hostname': 'vm186-m1',
    'builder': 'Win7 Tests (dbg)(4)',
    'os': 'win',
    'version': 'win7',
    'bits': '64',
  },
  {
    'master': 'Chromium',
    'hostname': 'vm187-m1',
    'builder': 'Win7 Tests (dbg)(5)',
    'os': 'win',
    'version': 'win7',
    'bits': '64',
  },
  {
    'master': 'Chromium',
    'hostname': 'vm188-m1',
    'builder': 'Win7 Tests (dbg)(6)',
    'os': 'win',
    'version': 'win7',
    'bits': '64',
  },
  {
    'master': 'Chromium',
    'hostname': 'vm179-m1',
    'builder': 'Interactive Tests (dbg)',
    'os': 'win',
    'version': 'xp',
    'bits': '32',
  },
  {
    'master': 'Chromium',
    'builder': 'Win7 Sync',
    'hostname': 'vm92-m1',
    'os': 'win',
    'version': 'win7',
    'bits': '64',
  },
  {
    'master': 'Chromium',
    'builder': 'Win Aura',
    'hostname': 'build10-m1',
    'os': 'win',
    'version': '2008',
    'bits': '64',
  },
################################################################################
# Mac
################################################################################
  {
    'master': 'Chromium',
    'hostname': 'xserve6-m1',
    'builder': 'Mac Builder',
    'os': 'mac',
    'version': '10.6',
    'bits': '64',
  },
#  {
#    'master': 'Chromium',
#    'hostname': 'vm612-m1',
#    'builder': 'Mac10.7 Tests (1)',
#    'os': 'mac',
#    'version': '10.7',
#    'bits': '64',
#  },
#  {
#    'master': 'Chromium',
#    'hostname': 'vm613-m1',
#    'builder': 'Mac10.7 Tests (2)',
#    'os': 'mac',
#    'version': '10.7',
#    'bits': '64',
#  },
#  {
#    'master': 'Chromium',
#    'hostname': 'vm614-m1',
#    'builder': 'Mac10.7 Tests (3)',
#    'os': 'mac',
#    'version': '10.7',
#    'bits': '64',
#  },
  {
    'master': 'Chromium',
    'hostname': 'vm603-m1',
    'builder': 'Mac10.6 Tests (1)',
    'os': 'mac',
    'version': '10.6',
    'bits': '64',
  },
  {
    'master': 'Chromium',
    'hostname': 'vm604-m1',
    'builder': 'Mac10.6 Tests (2)',
    'os': 'mac',
    'version': '10.6',
    'bits': '64',
  },
  {
    'master': 'Chromium',
    'hostname': 'vm605-m1',
    'builder': 'Mac10.6 Tests (3)',
    'os': 'mac',
    'version': '10.6',
    'bits': '64',
  },
  {
    'master': 'Chromium',
    'hostname': 'xserve3-m1',
    'builder': 'Mac Builder (dbg)',
    'os': 'mac',
    'version': '10.6',
    'bits': '64',
  },
#  {
#    'master': 'Chromium',
#    'hostname': 'vm615-m1',
#    'builder': 'Mac 10.7 Tests (dbg)(1)',
#    'os': 'mac',
#    'version': '10.7',
#    'bits': '64',
#  },
#  {
#    'master': 'Chromium',
#    'hostname': 'vm616-m1',
#    'builder': 'Mac 10.7 Tests (dbg)(2)',
#    'os': 'mac',
#    'version': '10.7',
#    'bits': '64',
#  },
#  {
#    'master': 'Chromium',
#    'hostname': 'vm617-m1',
#    'builder': 'Mac 10.7 Tests (dbg)(3)',
#    'os': 'mac',
#    'version': '10.7',
#    'bits': '64',
#  },
#  {
#    'master': 'Chromium',
#    'hostname': 'vm618-m1',
#    'builder': 'Mac 10.7 Tests (dbg)(4)',
#    'os': 'mac',
#    'version': '10.7',
#    'bits': '64',
#  },
  {
    'master': 'Chromium',
    'hostname': 'vm606-m1',
    'builder': 'Mac 10.6 Tests (dbg)(1)',
    'os': 'mac',
    'version': '10.6',
    'bits': '64',
  },
  {
    'master': 'Chromium',
    'hostname': 'vm607-m1',
    'builder': 'Mac 10.6 Tests (dbg)(2)',
    'os': 'mac',
    'version': '10.6',
    'bits': '64',
  },
  {
    'master': 'Chromium',
    'hostname': 'vm608-m1',
    'builder': 'Mac 10.6 Tests (dbg)(3)',
    'os': 'mac',
    'version': '10.6',
    'bits': '64',
  },
  {
    'master': 'Chromium',
    'hostname': 'vm609-m1',
    'builder': 'Mac 10.6 Tests (dbg)(4)',
    'os': 'mac',
    'version': '10.6',
    'bits': '64',
  },
  {
    'master': 'Chromium',
    'builder': 'Mac10.6 Sync',
    'hostname': 'mini13-m1',
    'os': 'mac',
    'version': '10.6',
    'bits': '64',
  },
################################################################################
# Linux
################################################################################
  {
    'master': 'Chromium',
    'hostname': 'build59-m1',
    'builder': 'Linux Builder x64',
    'os': 'linux',
    'version': 'lucid',
    'bits': '64',
  },
  {
    'master': 'Chromium',
    'hostname': 'vm119-m1',
    'builder': 'Linux Tests x64',
    'os': 'linux',
    'version': 'lucid',
    'bits': '64',
  },
  {
    'master': 'Chromium',
    'builder': 'Linux (aura)',
    'hostname': 'vm80-m1',
    'os': 'linux',
    'version': 'lucid',
    'bits': '32',
  },
  {
    'master': 'Chromium',
    'hostname': 'build13-m1',
    'builder': 'Linux Builder (dbg)',
    'os': 'linux',
    'version': 'lucid',
    'bits': '32',
  },
  {
    'master': 'Chromium',
    'hostname': 'vm128-m1',
    'builder': 'Linux Tests (dbg)(1)',
    'os': 'linux',
    'version': 'lucid',
    'bits': '32',
  },
  {
    'master': 'Chromium',
    'hostname': 'vm129-m1',
    'builder': 'Linux Tests (dbg)(2)',
    'os': 'linux',
    'version': 'lucid',
    'bits': '32',
  },
  {
    'master': 'Chromium',
    'builder': 'Linux Sync',
    'hostname': 'vm121-m1',
    'os': 'linux',
    'version': 'lucid',
    'bits': '64',
  },
  {
    'master': 'Chromium',
    'builder': 'Linux Clang (dbg)',
    'hostname': 'vm79-m1',
    'os': 'linux',
    'version': 'lucid',
    'bits': '64',
  },
################################################################################
# Android
################################################################################
  {
    'master': 'Chromium',
    'hostname': 'vm138-m1',
    'builder': 'Android Builder',
    'os': 'linux',
    'version': 'lucid',
    'bits': '64',
  },
]
