# -*- python -*-
# ex: set syntax=python:

# Copyright 2013 The Chromium Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# See master.experimental/slaves.cfg for documentation.

# Reserved for # Issue 289724
mac_vm_oilpan = [
  {
    'master': 'ClientUnused',
    'hostname': 'vm%d-m3' % i,
    'os': 'mac',
  } for i in [618, 630]
]

win_vm_oilpan = [
  {
    'master': 'ClientUnused',
    'hostname': 'vm%d-m3' % i,
    'os': 'win',
  } for i in range(196, 198)
]

linux_vm_oilpan = [
  {
    'master': 'ClientUnused',
    'hostname': 'vm%d-m3' % i,
    'os': 'linux',
  } for i in [152, 161]
]


slaves = (mac_vm_oilpan + win_vm_oilpan + linux_vm_oilpan)
