# -*- python -*-
# ex: set syntax=python:

# Copyright (c) 2011 The Chromium Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# See master.experimental/slaves.cfg for documentation.


slaves = [
  {
    'master': 'ChromiumPerf',
    'hostname': 'build17-m1',
    'builder': 'Win Builder',
    'os': 'win',
    'version': '2008',
    'bits': '64',
  },
  {
    'master': 'ChromiumPerf',
    'hostname': 'build18-m1',
    'builder': 'Win Builder (dbg)',
    'os': 'win',
    'version': '2008',
    'bits': '64',
  },
  {
    'master': 'ChromiumPerf',
    'hostname': 'chromeperf06',
    'builder': 'Linux Builder',
    'os': 'linux',
    'version': 'lucid',
    'bits': '64',
  },
  {
    'master': 'ChromiumPerf',
    'hostname': 'mini21-m1',
    'builder': ['Mac Builder', 'Mac Builder (CG)'],
    'os': 'mac',
    'bits': '64',
  },
  {
    'master': 'ChromiumPerf',
    'hostname': 'mini117-m1',
    'builder': ['Mac10.5 Perf(1)', 'Mac10.5 Perf(CG)(1)'],
    'os': 'mac',
    'bits': '64',
  },
  {
    'master': 'ChromiumPerf',
    'hostname': 'mini106-m1',
    'builder': ['Mac10.5 Perf(2)', 'Mac10.5 Perf(CG)(2)'],
    'os': 'mac',
    'bits': '64',
  },
  {
    'master': 'ChromiumPerf',
    'hostname': 'mini107-m1',
    'builder': ['Mac10.5 Perf(3)', 'Mac10.5 Perf(CG)(3)'],
    'os': 'mac',
    'bits': '64',
  },
  {
    'master': 'ChromiumPerf',
    'hostname': 'mini50-m1',
    'builder': ['Mac10.6 Perf(1)', 'Mac10.6 Perf(CG)(1)'],
    'os': 'mac',
    'bits': '64',
  },
  {
    'master': 'ChromiumPerf',
    'hostname': 'mini51-m1',
    'builder': ['Mac10.6 Perf(2)', 'Mac10.6 Perf(CG)(2)'],
    'os': 'mac',
    'bits': '64',
  },
  {
    'master': 'ChromiumPerf',
    'hostname': 'mini52-m1',
    'builder': ['Mac10.6 Perf(3)', 'Mac10.6 Perf(CG)(3)'],
    'os': 'mac',
    'bits': '64',
  },
  {
    'master': 'ChromiumPerf',
    'hostname': 'chromeperf12',
    'builder': 'Vista Perf (1)',
    'os': 'win',
    'version': 'vista',
    'bits': '64',
  },
  {
    'master': 'ChromiumPerf',
    'hostname': 'chromeperf13',
    'builder': 'Vista Perf (2)',
    'os': 'win',
    'version': 'vista',
    'bits': '64',
  },
  {
    'master': 'ChromiumPerf',
    'hostname': 'chromeperf15',
    'builder': 'Vista Interactive Perf',
    'os': 'win',
    'version': 'vista',
    'bits': '64',
  },
  {
    'master': 'ChromiumPerf',
    'hostname': 'chrome-vista-single-core',
    'builder': 'Vista Perf (jank)',
    'os': 'win',
    'version': 'vista',
    'bits': '32',
  },
  {
    'master': 'ChromiumPerf',
    'hostname': 'vm87-m1',
    'builder': 'Vista Perf (dbg)',
    'os': 'win',
    'version': 'vista',
    'bits': '64',
  },
  {
    'master': 'ChromiumPerf',
    'hostname': 'chromeperf10',
    'builder': 'XP Perf (1)',
    'os': 'win',
    'version': 'xp',
    'bits': '32',
  },
  {
    'master': 'ChromiumPerf',
    'hostname': 'chromeperf11',
    'builder': 'XP Perf (2)',
    'os': 'win',
    'version': 'xp',
    'bits': '32',
  },
  {
    'master': 'ChromiumPerf',
    # 'hostname': 'chrome-winxp32-interactive-perf-1',
    'hostname': 'chromeperf16',
    'builder': 'XP Interactive Perf',
    'os': 'win',
    'version': 'xp',
    'bits': '32',
  },
  {
    'master': 'ChromiumPerf',
    'hostname': 'chrome-xp-single-core',
    'builder': 'XP Perf (jank)',
    'os': 'win',
    'version': 'xp',
    'bits': '32',
  },
  {
    'master': 'ChromiumPerf',
    'hostname': 'vm81-m1',
    'builder': 'XP Perf (dbg)',
    'os': 'win',
    'version': 'xp',
    'bits': '32',
  },
  {
    'master': 'ChromiumPerf',
    'hostname': 'chromeperf07',
    'builder': 'Linux Perf (1)',
    'os': 'linux',
    'version': 'lucid',
    'bits': '64',
  },
  {
    'master': 'ChromiumPerf',
    'hostname': 'chromeperf08',
    'builder': 'Linux Perf (2)',
    'os': 'linux',
    'version': 'lucid',
    'bits': '64',
  },
  {
    'master': 'ChromiumPerf',
    'builder': 'Linux Perf (lowmem)',
    'hostname': 'chromeperf19',
    'os': 'linux',
    'version': 'lucid',
    'bits': '64',
  },
]
