# -*- python -*-
# ex: set syntax=python:

# Copyright (c) 2010 The Chromium Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# See master.experimental/slaves.cfg for documentation.


slaves = [
### NativeClientChrome
  # WINDOWS
  {
    'master': 'NativeClientChrome',
    'builder': ['xp-nacl-chrome'],
    'hostname': 'vm4-m3',
    'os': 'win',
    'version': 'xp',
  },
  # MAC
  {
    'master': 'NativeClientChrome',
    'builder': ['mac-nacl-chrome'],
    'hostname': 'mini3-m3',
    'os': 'mac',
    'version': 'osx 10.5',
  },
  # HARDY
  {
    'master': 'NativeClientChrome',
    'builder': ['hardy64-nacl-chrome'],
    'hostname': 'vm28-m3',
    'os': 'linux',
    'version': 'hardy',
    'bits': '64',
  },
]
