# -*- python -*-
# ex: set syntax=python:

# Copyright (c) 2013 The Chromium Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

slave_builder_map = {
  '71': ['linux'],
  '123': ['linux'],
  '189': ['linux'],
  '191': ['linux'],
  '198': ['linux'],
  '202': ['linux'],
}


linux_slaves = [
  {
    'master': 'Pdfium',
    'builder': builders,
    'hostname': 'vm%s-m3' % host,
    'os': 'linux',
    'version': 'trusty',
    'bits': '64',
  } for host, builders in slave_builder_map.iteritems()
]

win_slaves = []
mac_slaves = []

slaves = linux_slaves + win_slaves + mac_slaves
