# -*- python -*-
# ex: set syntax=python:

# Copyright (c) 2014 The Chromium Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

linux_slaves = [
  {
    'master': 'Pdfium',
    'builder': 'linux',
    'hostname': 'vm%d-m3' % host,
    'os': 'linux',
    'version': 'trusty',
    'bits': '64',
  } for host in [71, 123, 189, 191, 198, 202]
]

win_slaves = [
  {
    'master': 'Pdfium',
    'hostname': 'vm%d-m1' % host,
    'builder': 'win',
    'os': 'win',
    'version': 'win7',
    'bits': '64',
  } for host in [403]
]

mac_slaves = []

slaves = linux_slaves + win_slaves + mac_slaves
