# -*- python -*-
# ex: set syntax=python:

# Copyright (c) 2012 The Chromium Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# See master.experimental/slaves.cfg for documentation.


slaves = [
### NativeClient
  # WINDOWS
  {
    'master': 'NativeClientSDK',
    'builder': [
      'windows-sdk',
      'windows-sdk-trout',
      'windows-sdk-cod',
      'windows-sdk-multi',
      'windows-sdk-multirel',
    ],
    'hostname': 'vm13-m3',
    'os': 'win',
    'version': 'vista64',
  },
  # MAC
  {
    'master': 'NativeClientSDK',
    'builder': [
      'mac-sdk',
      'mac-sdk-trout',
      'mac-sdk-cod',
      'mac-sdk-multi',
      'mac-sdk-multirel',
    ],
    'hostname': 'mini4-m3',
    'os': 'mac',
    'version': 'osx 10.6',
  },
  # LINUX
  {
    'master': 'NativeClientSDK',
    'builder': [
      'linux-sdk',
      'linux-sdk-trout',
      'linux-sdk-cod',
      'linux-sdk-multi',
      'linux-sdk-multirel',
    ],
    'hostname': 'vm145-m3',
    'os': 'linux',
    'version': 'lucid',
    'bits': '64',
  },
]
