{% extends "layout.html" %}

{% block header -%}
{{ super() }}
<hr/>
<script>
  function autoLink(className) {
    var comments = document.querySelectorAll(className);
    for(var i = 0; i < comments.length; i++) {
      comments[i].innerHTML = comments[i].innerHTML.replace(/http:\/\/[^ \t\n<]*/g, '<a href="$&">$&</a>');
    }
  }

  window.onload = function() {
    autoLink('.DevComment');
  }
</script>

<div class="Announcement">

<iframe width="100%" height="44" frameborder="0" scrolling="no" src="//fletch-status.appspot.com/current"></iframe>


<center style="padding: 0 7px">
  <table width="100%" valign="top" bgcolor="#efefef" style="-webkit-border-bottom-left-radius: 24px; -webkit-border-bottom-right-radius: 24px; -moz-border-bottom-right-radius: 24px; -moz-border-bottom-right-radius: 24px;   box-shadow: 2px 2px 6px rgba(0,0,0,0.6); -moz-box-shadow: 2px 2px 6px rgba(0,0,0,0.6); -webkit-box-shadow: 2px 2px 6px rgba(0,0,0,0.6);">
    <tr>
      <td width="23%">
        <table valign="top" width="100%">
          <tr>
            <td style="text-align: right;">
              <b>Status controls:</b>
            </td>
            <td>
              <a href="//fletch-status.appspot.com">Tree status edit</a>
            </td>
          </tr>
          <tr>
            <td style="text-align: right;">
              <b>Controls:</b>
            </td>
            <td>
              <a href="one_line_per_build">manage all</a>
            </td>
          </tr>
          <tr>
            <td style="text-align: right;">
               <b>Navigate:</b>
            </td>
            <td colspan="2">
              <a href="http://dev.chromium.org/developers/testing/chromium-build-infrastructure/tour-of-the-chromium-buildbot">about</a> |
              <a href="./waterfall/help">customize</a> |
              <a href="./waterfall">waterfall</a> |
              <a href="./waterfall?show_events=true&failures_only=true">failures</a> |
              <a href="http://build.chromium.org/p/client.fletch/console">Fletch</a> |
              <a href="./console">Fletch</a>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</center>

</div>
{% endblock header %}

{% block footer %}

{{ super() }}
{# <p>Debug info: {{ debuginfo }}</p> #}
{% endblock %}
