# -*- python -*-
# ex: set syntax=python:

# Copyright (c) 2012 The Chromium Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# See master.experimental/slaves.cfg for documentation.


slaves = [
  # MAC
  {
    'master': 'Dart',
    'builder': ['vm-mac-debug'],
    'hostname': 'vm602-m3',
    'os': 'mac',
    'version': '10.6',
    'bits': '64',
  },
  {
    'master': 'Dart',
    'builder': ['vm-mac-release'],
    'hostname': 'vm603-m3',
    'os': 'mac',
    'version': '10.6',
    'bits': '64',
  },
  {
    'master': 'Dart',
    'builder': ['dartium-mac-inc'],
    'hostname': 'vm604-m3',
    'os': 'mac',
    'version': '10.6',
    'bits': '64'
  },
  {
    'master': 'Dart',
    'builder': ['dartium-mac-full'],
    'hostname': 'vm605-m3',
    'os': 'mac',
    'version': '10.6',
    'bits': '64'
  },
  {
    'master': 'Dart',
    'builder': ['dartium-mac-debug'],
    'hostname': 'vm606-m3',
    'os': 'mac',
    'version': '10.6',
    'bits': '64'
  },
  {
    'master': 'Dart',
    'builder': ['web-chrome-mac'],
    'hostname': 'vm607-m3',
    'os': 'mac',
    'version': '10.6',
    'bits': '64'
  },
  {
    'master': 'Dart',
    'builder': ['web-safari-mac'],
    'hostname': 'vm608-m3',
    'os': 'mac',
    'version': '10.6',
    'bits': '64',
  },

  # LINUX
  {
    'master': 'Dart',
    'builder': ['vm-linux-debug'],
    'hostname': 'vm92-m3',
    'os': 'linux',
    'version': 'lucid',
    'bits': '64',
  },
  {
    'master': 'Dart',
    'builder': ['vm-linux-release'],
    'hostname': 'vm93-m3',
    'os': 'linux',
    'version': 'lucid',
    'bits': '64',
  },
  {
    'master': 'Dart',
    'builder': ['vm-win32-debug'],
    'hostname': 'vm146-m3',
    'os': 'win',
    'version': 'win7',
    'bits': '32',
  },
  {
    'master': 'Dart',
    'builder': ['vm-win32-release'],
    'hostname': 'vm147-m3',
    'os': 'win',
    'version': 'win7',
    'bits': '32',
  },
  {
    'master': 'Dart',
    'builder': ['dartc-linux-debug'],
    'hostname': 'vm26-m3',
    'os': 'linux',
    'version': 'lucid',
    'bits': '64',
  },
  {
    'master': 'Dart',
    'builder': ['dartc-linux-release'],
    'hostname': 'vm27-m3',
    'os': 'linux',
    'version': 'lucid',
    'bits': '64',
  },
  {
    'master': 'Dart',
    'builder': ['dart-editor'],
    'hostname': 'vm5-m3',
    'os': 'linux',
    'version': 'lucid',
    'bits': '64',
  },
  {
    'master': 'Dart',
    'builder': ['dart-editor-win'],
    'hostname': 'vm56-m3',
    'os': 'win',
    'version': 'win7',
    'bits': '64',
  },
  {
    'master': 'Dart',
    'builder': ['dart-editor-mac'],
    'hostname': 'vm609-m3',
    'os': 'mac',
    'version': '10.6',
    'bits': '64',
  },
  {
    'master': 'Dart',
    'builder': ['dart-editor-linux'],
    'hostname': 'vm54-m3',
    'os': 'linux',
    'version': 'lucid',
    'bits': '64',
  },
  {
    'master': 'Dart',
    'builder': ['dart2js-linux-release-1-4'],
    'hostname': 'vm188-m3',
    'os': 'linux',
    'version': 'lucid',
    'bits': '64',
  },
  {
    'master': 'Dart',
    'builder': ['dart2js-linux-release-2-4'],
    'hostname': 'vm160-m3',
    'os': 'linux',
    'version': 'lucid',
    'bits': '64',
  },
  {
    'master': 'Dart',
    'builder': ['dart2js-linux-release-3-4'],
    'hostname': 'vm161-m3',
    'os': 'linux',
    'version': 'lucid',
    'bits': '64',
  },
  {
    'master': 'Dart',
    'builder': ['dart2js-linux-release-4-4'],
    'hostname': 'vm162-m3',
    'os': 'linux',
    'version': 'lucid',
    'bits': '64',
  },
  {
    'master': 'Dart',
    'builder': ['dart2js-linux-release-checked-1-4'],
    'hostname': 'vm194-m3',
    'os': 'linux',
    'version': 'lucid',
    'bits': '64',
  },
  {
    'master': 'Dart',
    'builder': ['dart2js-linux-release-checked-2-4'],
    'hostname': 'vm164-m3',
    'os': 'linux',
    'version': 'lucid',
    'bits': '64',
  },
  {
    'master': 'Dart',
    'builder': ['dart2js-linux-release-checked-3-4'],
    'hostname': 'vm165-m3',
    'os': 'linux',
    'version': 'lucid',
    'bits': '64',
  },
  {
    'master': 'Dart',
    'builder': ['dart2js-linux-release-checked-4-4'],
    'hostname': 'vm167-m3',
    'os': 'linux',
    'version': 'lucid',
    'bits': '64',
  },
  {
    'master': 'Dart',
    'builder': ['dartium-lucid64-inc'],
    'hostname': 'vm129-m3',
    'os': 'linux',
    'version': 'lucid',
    'bits': '64',
  },
  {
    'master': 'Dart',
    'builder': ['dartium-lucid64-full'],
    'hostname': 'vm130-m3',
    'os': 'linux',
    'version': 'lucid',
    'bits': '64',
  },
  {
    'master': 'Dart',
    'builder': ['dartium-lucid64-debug'],
    'hostname': 'vm67-m3',
    'os': 'linux',
    'version': 'lucid',
    'bits': '64',
  },
  {
    'master': 'Dart',
    'builder': ['web-ff-linux'],
    'hostname': 'vm16-m3',
    'os': 'linux',
    'version': 'lucid',
    'bits': '64',
  },
  {
    'master': 'Dart',
    'builder': ['web-chrome-linux'],
    'hostname': 'vm17-m3',
    'os': 'linux',
    'version': 'lucid',
    'bits': '64',
  },
  {
    'master': 'Dart',
    'builder': ['web-opera-linux'],
    'hostname': 'vm18-m3',
    'os': 'linux',
    'version': 'lucid',
    'bits': '64',
  },

  # Windows
  {
    'master': 'Dart',
    'builder': ['dartium-win-full'],
    'hostname': 'vm139-m3',
    'os': 'win',
    'version': 'win7',
    'bits': '64',
  },
  {
    'master': 'Dart',
    'builder': ['dartium-win-inc'],
    'hostname': 'vm77-m3',
    'os': 'win',
    'version': 'win7',
    'bits': '64',
  },
  {
    'master': 'Dart',
    'builder': ['dartium-win-debug'],
    'hostname': 'vm112-m3',
    'os': 'win',
    'version': 'win7',
    'bits': '64',
  },
  {
    'master': 'Dart',
    'builder': ['web-ff-win7'],
    'hostname': 'vm148-m3',
    'os': 'win',
    'version': 'win7',
    'bits': '64',
  },
  {
    'master': 'Dart',
    'builder': ['web-chrome-win7'],
    'hostname': 'vm192-m3',
    'os': 'win',
    'version': 'win7',
    'bits': '64',
  },
  {
    'master': 'Dart',
    'builder': ['web-ie-win7-1-2'],
    'hostname': 'vm128-m3',
    'os': 'win',
    'version': 'win7',
    'bits': '64',
  },
  {
    'master': 'Dart',
    'builder': ['web-ie-win7-2-2'],
    'hostname': 'vm195-m3',
    'os': 'win',
    'version': 'win7',
    'bits': '64',
  },

  # Trunk
  {
    'master': 'Dart',
    'builder': ['vm-linux-trunk', 'dartium-lucid64-full-trunk'],
    'hostname': 'vm83-m3',
    'os': 'linux',
    'version': 'lucid',
    'bits': '64',
  },
]
