{% extends "layout.html" %}

{% block header -%}
{{ super() }}
<hr/>

<script language="javascript">
  /**
   * A simple HTML iframe string.
   * @param {String} attributes A set of HTML attributes for the table.
   * @param {String} url The source of the iframe.
   * @returns {!String} the iframe or an empty string if noframe is specified.
   */
  function iFrame(attributes, url) {
    if (window.location.href.search('noframe') == -1) {
      return '<iframe ' + attributes + ' src="' + url + '"></iframe>';
    }
    return ''
  };

  /**
   * Callback to replace the LKGR link with one that identifies the current
   * revision for the LKGR.
   */
  function DisplayLKGR() {
    var xmlHttp = new XMLHttpRequest();
    xmlHttp.onreadystatechange = function() {
      if (xmlHttp.readyState == 4 && xmlHttp.status == 200) {
        let response = xmlHttp.responseText;
        if (response.startsWith(")]}'\n"))
          response = response.substring(5);
        lkgr_entry = JSON.parse(response);
        git_hash = lkgr_entry['commit'].substring(0, 8);
        lkgr_date = lkgr_entry['committer']['time']
        if (!/ UTC$/.test(lkgr_date) && ! / GMT$/.test(lkgr_date))
          // The lkgr date is in UTC, but it's unfortunately not part of the
          // string. Add it as otherwise the parser assumes local time.
          lkgr_date += ' UTC'
        now = (new Date()).getTime();
        lkgr_date = Date.parse(lkgr_date);
        age_in_hours = (now - lkgr_date) / 3600000;
        new_label = git_hash + ' (' + Math.floor(age_in_hours) + 'h old)';
        document.getElementById('lkgr_link').innerHTML = new_label;
      }
    };

    var lkgrPath = "https://chromium.googlesource.com/v8/v8/+/lkgr?format=json";
    xmlHttp.open('GET', lkgrPath, true);
    xmlHttp.send(null);
  }

  branches_url = "https://build.chromium.org/p/client.v8.branches/horizontal_one_box_per_builder"
  chromium_url = "https://build.chromium.org/p/client.v8.chromium/horizontal_one_box_per_builder"
  clusterfuzz_url = "https://build.chromium.org/p/client.v8.clusterfuzz/horizontal_one_box_per_builder"
  fyi_url = "https://build.chromium.org/p/client.v8.fyi/horizontal_one_box_per_builder"
  ports_url = "https://build.chromium.org/p/client.v8.ports/horizontal_one_box_per_builder"
</script>

<div class="Announcement">

<iframe width="100%" height="44" frameborder="0" scrolling="no" src="https://v8-status.appspot.com/current" ></iframe>

<center style="padding: 0 7px">
  <table width="100%" valign="top" bgcolor="#efefef" style="border-bottom-left-radius: 24px; border-bottom-right-radius: 24px; box-shadow: 2px 2px 6px rgba(0,0,0,0.6);">
    <tr>
      <td width="1%" />
      <td width="40%" style="text-align: left;">
        <table width="100%" valign="top">
          <tr>
            <td width="8%" style="text-align: left;">
              <b>Sheriffs: </b>
            </td>
            <td width="52%" style="text-align: left;">
              <script src='https://chromium-build.appspot.com/p/chromium/sheriff_v8.js'></script>
            </td>
            <td width="8%" style="text-align: left;">
              <b>Controls: </b>
            </td>
            <td width="32%" style="text-align: left;">
              <a id="tree_status_link" href="https://v8-status.appspot.com">
                tree status
              </a> |
              <a id="roll_status_link" href="https://v8-roll.appspot.com">
                roll status
              </a>
            </td>
          </tr>
          <tr>
            <td width="8%" style="text-align: left;">
              <b>Masters: </b>
            </td>
            <td width="52%" style="text-align: left;">
              <a id="master_v8" href="https://ci.chromium.org/p/v8/g/main/console">
                client.v8
              </a> |
              <a id="master_v8_ports" href="https://ci.chromium.org/p/v8/g/ports/console">
                client.v8.ports
              </a> |
              <a id="master_v8_fyi" href="https://ci.chromium.org/p/v8/g/fyi/console">
                client.v8.fyi
              </a> |
              <a id="master_v8_clusterfuzz" href="https://ci.chromium.org/p/v8/g/clusterfuzz/console">
                client.v8.clusterfuzz
              </a> |
              <a id="master_v8_chromium" href="https://ci.chromium.org/p/v8/g/chromium/console">
                client.v8.chromium
              </a> |
              <a id="master_v8_branches" href="../client.v8.branches">
                client.v8.branches
              </a>
            </td>
            <td width="8%" style="text-align: left;">
              <b>LKGR: </b>
            </td>
            <td width="32%" style="text-align: left;">
              <a id="lkgr_link" href="https://storage.cloud.google.com/chromium-v8/lkgr-status/v8-lkgr-status.html">
                lkgr
              </a>
              <script language="javascript">
                setTimeout('DisplayLKGR()', 100);
              </script>
            </td>
          </tr>
        </table>
      </td>
      <td width="58%" style="text-align: left;">
        <table valign="top" width="100%" style="text-align: left;">
          <tr>
            <td width="5%" style="text-align: left;">
              <a id="master_v8_ports_label" href="../client.v8.ports">
                <b>Ports: </b>
              </a>
            </td>
            <td width="95%">
              <script language="javascript">
                iframe_properties = [
                  'width="100%"',
                  'height="15"',
                  'frameborder="0"',
                  'scrolling="no"',
                ].join(' ');
                document.write(iFrame(iframe_properties, ports_url))
              </script>
            </td>
          </tr>
          <tr>
            <td width="5%" style="text-align: left;">
              <a id="master_v8_fyi_label" href="../client.v8.fyi">
                <b>FYI: </b>
              </a>
            </td>
            <td width="95%" style="padding-top: 0px; padding-bottom: 0px;">
              <table valign="top" width="100%" style="text-align: left; border-spacing: 0px 0px;">
                <tr style="margin-top: 0px; margin-left: 0px;">
                  <td width="74%" style="text-align: left;">
                    <script language="javascript">
                      iframe_properties = [
                        'width="100%"',
                        'height="15"',
                        'frameborder="0"',
                        'scrolling="no"',
                      ].join(' ');
                      document.write(iFrame(iframe_properties, fyi_url))
                    </script>
                  </td>
                  <td width="6%" style="text-align: left;">
                    <a id="master_v8_clusterfuzz_label" href="../client.v8.clusterfuzz">
                      <b>Clusterfuzz: </b>
                    </a>
                  </td>
                  <td width="20%" style="text-align: left;">
                    <script language="javascript">
                      iframe_properties = [
                        'width="100%"',
                        'height="15"',
                        'frameborder="0"',
                        'scrolling="no"',
                      ].join(' ');
                      document.write(iFrame(iframe_properties, clusterfuzz_url))
                    </script>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td width="5%" style="text-align: left;">
              <a id="master_v8_branches_label" href="../client.v8.branches">
                <b>Branches: </b>
              </a>
            </td>
            <td width="95%" style="padding-top: 0px; padding-bottom: 0px;">
              <table valign="top" width="100%" style="text-align: left; border-spacing: 0px 0px;">
                <tr style="margin-top: 0px; margin-left: 0px;">
                  <td width="85%" style="text-align: left;">
                    <script language="javascript">
                      iframe_properties = [
                        'width="100%"',
                        'height="15"',
                        'frameborder="0"',
                        'scrolling="no"',
                      ].join(' ');
                      document.write(iFrame(iframe_properties, branches_url))
                    </script>
                  </td>
                  <td width="5%" style="text-align: left;">
                    <a id="master_v8_chromium_label" href="../client.v8.chromium">
                      <b>Chromium: </b>
                    </a>
                  </td>
                  <td width="10%" style="text-align: left;">
                    <script language="javascript">
                      iframe_properties = [
                        'width="100%"',
                        'height="15"',
                        'frameborder="0"',
                        'scrolling="no"',
                      ].join(' ');
                      document.write(iFrame(iframe_properties, chromium_url))
                    </script>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
      <td width="1%" />
    </tr>
  </table>
</center>

</div>
{% endblock header %}

{% block footer %}

{{ super() }}
{# <p>Debug info: {{ debuginfo }}</p> #}
{% endblock %}
