# -*- python -*-
# ex: set syntax=python:

# Copyright (c) 2012 The Chromium Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# See master.experimental/slaves.cfg for documentation.


slaves = [
  # LUCID
  {
    'master': 'NativeClientPPAPI',
    'builder': [
        'lucid64-m64-n64-dbg-ppapi',
    ],
    'hostname': 'vm41-m3',
    'os': 'linux',
    'version': 'lucid',
    'bits': '64',
  },
]
