# Copyright 2013 The Chromium Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

slaves = [
  # Linux
  {
    'master': 'WebRTCFYI',
    'os': 'linux',
    'version': 'precise',
    'bits': '64',
    'builder': [
      'Linux LSan (and ASan)',
      'Linux Tsan v2',
      'Linux TsanRV',
    ],
    'hostname': 'vm%d-m3' % i,
  } for i in [4, 31]
] + [
  # Windows
  {
    'master': 'WebRTCFYI',
    'os': 'win',
    'version': 'win7',
    'bits': '64',
    'builder': [
      'Win DrMemory Full',
      'Win DrMemory Light',
      'Win DrMemory Pattern',
      'Win Tsan',
    ],
    'hostname': 'vm%d-m3' % i,
  } for i in [162, 168, 169, 193]
]
