# -*- python -*-
# ex: set syntax=python:

# Copyright (c) 2012 The Chromium Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

slaves = [
  {
    'master': 'ChromiumGIT',
    'builder': 'Linux Builder x64 (git)',
    'hostname': 'vm74-m1',
  },
  {
    'master': 'ChromiumGIT',
    'builder': 'Linux Tests x64 (git)',
    'hostname': 'vm75-m1',
  },
  {
    'master': 'ChromiumGIT',
    'builder': 'Mac Builder (git)',
    'hostname': 'vm643-m1',
  },
  {
    'master': 'ChromiumGIT',
    'builder': 'Win Builder (git)',
    'hostname': 'vm141-m1',
  },
  {
    'master': 'ChromiumGIT',
    'builder': 'Mac10.6 Tests (1)',
    'hostname': 'vm640-m1',
  },
  {
    'master': 'ChromiumGIT',
    'builder': 'XP Tests (1)',
    'hostname': 'vm176-m1',
  },
]
