# -*- python -*-
# ex: set syntax=python:
# Copyright 2014 The Chromium Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# See master.experimental/slaves.cfg for documentation.

slaves = []

for slave in range(501, 506):
  slaves.append({
    'master': 'BlinkTryServer',
    'os': 'linux',
    'version': 'precise',
    'bits': '64',
    'builder': [
      'blink_presubmit',
      'linux_blink_compile_dbg',
      'linux_blink_compile_rel',
      'linux_blink_dbg',
      'linux_blink_rel',
    ],
    'hostname': 'slave%d-c4' % slave,
  })
