# Copyright (c) 2010 The Chromium Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

slaves = [
  {
    'master': 'ChromiumGPU',
    'hostname': 'gpu-win-1',
    'builder': 'GPU Win Builder (dbg)',
    'os': 'win',
    'bits': '32',
  },
  {
    'master': 'ChromiumGPU',
    'hostname': 'gpu-win-2',
    'builder': 'GPU Vista Tests (dbg)',
    'os': 'win',
    'bits': '32',
  },
]
