# -*- python -*-
# ex: set syntax=python:

# Copyright (c) 2012 The Chromium Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# See master.experimental/slaves.cfg for documentation.


slaves = [
################################################################################
# Mac
################################################################################
  {
    'master': 'ChromiumMac',
    'hostname': 'vm628-m1',
    'builder': 'ios-device',
    'os': 'mac',
    'version': '10.9',
  },
  {
    'master': 'ChromiumMac',
    'hostname': 'vm618-m1',
    'builder': 'ios-simulator',
    'os': 'mac',
    'version': '10.9',
  },
  {
    'master': 'ChromiumMac',
    'hostname': 'vm346-m1',
    'builder': 'ios-simulator-full-configs',
    'os': 'mac',
    'version': '10.9',
  },
  {
    'master': 'ChromiumMac',
    'hostname': 'vm108-m1',
    'builder': 'ios-device-xcode-clang',
    'os': 'mac',
    'version': '10.9',
  },
  {
    'master': 'ChromiumMac',
    'hostname': 'vm109-m1',
    'builder': 'ios-simulator-xcode-clang',
    'os': 'mac',
    'version': '10.9',
  },
]
