# -*- python -*-
# ex: set syntax=python:

# Copyright (c) 2010 The Chromium Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# See master.experimental/slaves.cfg for documentation.


slaves = [
  {
    'master': 'ChromiumOSTryServer',
    'builder': 'x86 generic PFQ',
    'slavename': 'build-99-m4',
    'os': 'linux',
  },
#  {
#    'master': 'ChromiumOS',
#    'builder': 'refresh packages',
#    'hostname': 'vm5-m2',
#    'os': 'linux',
#  },
#  {
#    'master': 'ChromiumOS',
#    'builder': 'x86 generic ASAN',
#    'hostname': 'build8-m2',
#    'os': 'linux',
#  },
]
