# -*- python -*-
# ex: set syntax=python:

# Copyright (c) 2012 The Chromium Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# See master.experimental/slaves.cfg for documentation.

from common import chromium_utils

def _AllocateSlaves():
  configs = chromium_utils.GetCBuildbotConfigs()

  all_builders = [cfg['name'] for cfg in configs]
  vmtest_builders = [cfg['name'] for cfg in configs if cfg['vm_tests']]
  notest_builders = set(all_builders).difference(vmtest_builders)

  vmtest_hostnames = ['build3-m4', 'build7-m4']
  notest_hostnames = []

  slave_list = []
  for host in vmtest_hostnames:
    new_slave = {
        'master': 'ChromiumOSTryServer',
        'builder': vmtest_builders,
        'hostname': host,
        'os': 'linux',
    }
    slave_list.append(new_slave)

  for host in notest_hostnames:
    new_slave = {
        'master': 'ChromiumOSTryServer',
        'builder': notest_builders,
        'hostname': host,
        'os': 'linux',
    }
    slave_list.append(new_slave)

  return slave_list

slaves = _AllocateSlaves()
