# -*- python -*-
# ex: set syntax=python:

# Copyright (c) 2006-2009 The Chromium Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# See master.experimental/slaves.cfg for documentation.


slaves = [
### NativeClient
  # WINDOWS
  {
    'master': 'NativeClientPorts',
    'builder': 'windows-ports',
    'hostname': 'codf169',
    'os': 'win',
    'version': 'xp',
  },
  # MAC
  {
    'master': 'NativeClientPorts',
    'builder': 'mac-ports',
    'hostname': 'jega80',
    'os': 'mac',
    'version': 'osx 10.6',
  },
  # HARDY
  {
    'master': 'NativeClientPorts',
    'builder': 'linux-ports',
    'hostname': 'codf170',
    'os': 'linux',
    'version': 'hardy',
    'bits': '32',
  },
]
