# Copyright (c) 2011 The Chromium Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

slaves = [
################################################################################
### Webkit Linux Latest
################################################################################
  {
    'master': 'ChromiumDevTools',
    'builder': 'Webkit Linux 64',
    'slavename': 'devtools-linux-64',
    'os': 'linux',
    'version': 'lucid',
    'bits': '64',
  },
]
