# -*- python -*-
# ex: set syntax=python:

# Copyright 2014 The Chromium Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# See master.experimental/slaves.cfg for documentation.

slaves = []

# Linux
for host in xrange(556, 568):
  slaves.append({
    'master': 'MojoTryServer',
    'hostname': 'slave%s-c4' % host,
    'builder': [
      'Mojo Linux Try',
      'Mojo Linux (dbg) Try',
      'Mojo Android Builder Try',
      'Mojo Android Builder (dbg) Try',
      'Mojo Linux ASan Try',
    ],
    'os': 'linux',
    'version': 'precise',
    'bits': '64',
    })

slaves.append({
    'master': 'MojoTryServer',
    'hostname': 'build15-a4',
    'builder': 'Mojo Android Builder Tests (dbg) Try',
    'os': 'linux',
    'version': 'precise',
    'bits': '64',
  })
