# -*- python -*-
# ex: set syntax=python:

# Copyright (c) 2011 The Chromium Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# See master.experimental/slaves.cfg for documentation.


slaves = [
  {
    'master': 'ChromiumPerfClang',
    # TODO: Change this to the clang release builder slave once it exists.
    # http://crbug.com/82575
    'hostname': 'mini21-m1',
    'builder': 'Mac Builder',
    'os': 'mac',
    'bits': '64',
  },
  {
    'master': 'ChromiumPerfClang',
    # TODO: Get a dedicated bot for this. http://crbug.com/83427
    'hostname': 'mini117-m1',
    'builder': 'Mac10.5 Perf',
    'os': 'mac',
    'bits': '64',
  },
  {
    'master': 'ChromiumPerfClang',
    # TODO: Get a dedicated bot for this. http://crbug.com/83428
    'hostname': 'mini22-m1',
    'builder': 'Mac10.6 Perf',
    'os': 'mac',
    'bits': '64',
  },
]
