# -*- python -*-
# ex: set syntax=python:

# Copyright 2014 The Chromium Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# See master.experimental/slaves.cfg for documentation.

slaves = [
  {
    'master': 'ChromiumPerfFyi',
    'hostname': 'build84-b1',
    'builder': 'Android Galaxy S5 Perf (1)',
    'os': 'linux',
    'version': 'trusty',
    'bits': '64',
  },
  {
    'master': 'ChromiumPerfFyi',
    'hostname': 'build110-b1',
    'builder': 'Android Power Nexus 5X Perf (1)',
    'os': 'linux',
    'version': 'trusty',
    'bits': '64',
  },
  {
    'master': 'ChromiumPerfFyi',
    'hostname': 'build175-m1',
    'builder': 'Win Builder',
    'os': 'win',
    'version': 'win10',
    'bits': '64',
  },
  {
    'master': 'ChromiumPerfFyi',
    'hostname': 'vm5-m1',
    'builder': 'Win 10 Low-End Perf Tests',
    'os': 'win',
    'version': 'win10',
    'bits': '64',
  },
  {
    'master': 'ChromiumPerfFyi',
    'hostname': 'build169-m1',
    'builder': 'Win 7 Intel GPU Perf (Xeon)',
    'os': 'win',
    'version': 'win7',
    'bits': '64',
  },
  {
    'master': 'ChromiumPerfFyi',
    'hostname': 'build85-b1',
    'builder': 'Win Power High-DPI Perf',
    'os': 'win',
    'version': 'win10',
    'bits': '64',
  },
  {
    'master': 'ChromiumPerfFyi',
    'hostname': 'build8-m1',
    'builder': 'Win Clang Builder',
    'os': 'win',
    'version': 'win7',
    'bits': '64',
  },
  {
    'master': 'ChromiumPerfFyi',
    'hostname': 'build88-m1',
    'builder': 'Win Clang Perf',
    'os': 'win',
    'version': 'win7',
    'bits': '64',
  },
  {
    'master': 'ChromiumPerfFyi',
    'hostname': 'build35-b1',
    'builder': 'Mac Power Dual-GPU Perf',
    'os': 'mac',
    'version': '10.9',
    'bits': '64',
  },
  {
    'master': 'ChromiumPerfFyi',
    'hostname': 'build36-b1',
    'builder': 'Mac Power Low-End Perf',
    'os': 'mac',
    'version': '10.9',
    'bits': '64',
  },
  {
    'master': 'ChromiumPerfFyi',
    'hostname': 'build83-b1',
    'builder': 'Mac Test Retina Perf',
    'os': 'mac',
    'version': '10.9',
    'bits': '64',
  },
]
