# -*- python -*-
# ex: set syntax=python:

# Copyright 2014 The Chromium Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# See master.experimental/slaves.cfg for documentation.

slaves = [
  {
    'master': 'ChromiumPerfFyi',
    'hostname': 'vm952-m1',
    'builder': 'android_oilpan_builder',
    'os': 'linux',
    'version': 'precise',
    'bits': '64',
  },
  {
    'master': 'ChromiumPerfFyi',
    'hostname': 'slave2-c1',
    'builder': 'Linux Oilpan Builder',
    'os': 'linux',
    'version': 'precise',
    'bits': '64',
  },
  {
    'master': 'ChromiumPerfFyi',
    'hostname': 'build19-a1',
    'builder': 'android_nexus5_oilpan_perf',
    'os': 'linux',
    'version': 'precise',
    'bits': '64',
  },
  {
    'master': 'ChromiumPerfFyi',
    'hostname': 'build15-a1',
    'builder': 'android_webview_aosp_perf',
    'os': 'linux',
    'version': 'precise',
    'bits': '64',
  },
  {
    'master': 'ChromiumPerfFyi',
    'hostname': 'build64-a1',
    'builder': 'Linux Oilpan Perf (1)',
    'os': 'linux',
    'version': 'precise',
    'bits': '64',
  },
  {
    'master': 'ChromiumPerfFyi',
    'hostname': 'build65-a1',
    'builder': 'Linux Oilpan Perf (2)',
    'os': 'linux',
    'version': 'precise',
    'bits': '64',
  },
  {
    'master': 'ChromiumPerfFyi',
    'hostname': 'build66-a1',
    'builder': 'Linux Oilpan Perf (3)',
    'os': 'linux',
    'version': 'precise',
    'bits': '64',
  },
  {
    'master': 'ChromiumPerfFyi',
    'hostname': 'build67-a1',
    'builder': 'Linux Oilpan Perf (4)',
    'os': 'linux',
    'version': 'precise',
    'bits': '64',
  },
]
