{% extends "layout.html" %}

{% block header -%}
{{ super() }}

<h1>WebAssembly Waterfall</h1>
<p>Build, execute and archive different WebAssembly components.</p>
<p>Click on a green build to download artifacts and see logs. <a href="https://storage.googleapis.com/wasm-llvm/builds/linux/lkgr.json">Last known good revision</a>.</p>
<p>Learn more and contribute from <a href="https://github.com/WebAssembly/waterfall">the github repository.</a></p>
<a href="https://github.com/WebAssembly/waterfall"><img style="position: absolute; top: 0; right: 0; border: 0;" src="forkme.png"></a>

{% endblock header %}

{% block footer %}

{{ super() }}
{# <p>Debug info: {{ debuginfo }}</p> #}
{% endblock %}
