# Copyright 2014 The Chromium Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.


INTEGER_WIDTH = 3

slaves = [
  {
    'master': 'SkiaFYI',
    'hostname': 'skiabot-linux-swarm-097',
    'builder': [
      'Housekeeper-Nightly-RecreateSKPs_Canary',
      'Housekeeper-Weekly-RecreateSKPs',
    ],
    'os': 'linux',
    'version': 'precise',
    'bits': '64',
  },
] + [
  {
    'master': 'SkiaFYI',
    'hostname': 'skiabot-linux-swarm-072',
    'builder': [
      'Housekeeper-PerCommit',
    ],
    'os': 'linux',
    'version': 'precise',
    'bits': '64',
  },
  {
    'master': 'SkiaFYI',
    'hostname': 'skiabot-linux-swarm-140',
    'builder': [
      'Housekeeper-PerCommit-Presubmit-Trybot',
    ],
    'os': 'linux',
    'version': 'precise',
    'bits': '64',
  },

  {
    'master': 'SkiaFYI',
    'hostname': 'slave11-c3',
    'builder': [
      'skia_presubmit-Trybot',
    ],
    'os': 'linux',
    'version': 'precise',
    'bits': '64',
  },
  {
    'master': 'SkiaFYI',
    'hostname': 'skiabot-ct-dm-001',
    'builder': [
      'Test-Ubuntu-GCC-GCE-CPU-AVX2-x86_64-Debug-CT_DM_1m_SKPs',
    ],
    'os': 'linux',
    'version': 'precise',
    'bits': '64',
  },
]
