# -*- python -*-
# ex: set syntax=python:

# Copyright 2014 The Chromium Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# See master.experimental/slaves.cfg for documentation.

from packages import GITHUB_PACKAGES, DART_REPO_SAMPLES

linux_names = ['packages-linux-%s' % p['name'] for p in GITHUB_PACKAGES]
linux_names.extend(['packages-linux-repo-sample-%s' % p['name'] for p
                    in DART_REPO_SAMPLES])

windows_names = ['packages-windows-%s' % p['name'] for p in GITHUB_PACKAGES]
windows_names.extend(['packages-windows-repo-sample-%s' % p['name'] for p
                      in DART_REPO_SAMPLES])

slaves = [
  {
    'master': 'DartPackages',
    'builder': linux_names,
    'hostname': 'vm217-m3',
    'os': 'linux',
    'version': 'precise',
    'bits': '64',
  },
  {
    'master': 'DartPackages',
    'builder': windows_names,
    'hostname': 'vm165-m3',
    'os': 'win',
    'version': 'win8',
    'bits': '64',
  },

]
