# Copyright 2014 The Chromium Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

builders = [
  { 'name': 'Perf-Android-GalaxyS4-SGX544-Arm7-Release' },
  { 'name': 'Perf-Android-Nexus10-MaliT604-Arm7-Release' },
  { 'name': 'Perf-Android-Nexus5-Adreno330-Arm7-Release' },
  { 'name': 'Perf-Android-Nexus7-Tegra3-Arm7-Release' },
  { 'name': 'Perf-Android-Nexus9-TegraK1-Arm64-Release' },
  { 'name': 'Perf-Android-NexusPlayer-PowerVR-x86-Release' },
  { 'name': 'Test-Android-GalaxyS4-SGX544-Arm7-Debug' },
  { 'name': 'Test-Android-GalaxyS4-SGX544-Arm7-Release' },
  { 'name': 'Test-Android-Nexus10-MaliT604-Arm7-Debug' },
  { 'name': 'Test-Android-Nexus10-MaliT604-Arm7-Release' },
  { 'name': 'Test-Android-Nexus5-Adreno330-Arm7-Debug' },
  { 'name': 'Test-Android-Nexus5-Adreno330-Arm7-Release' },
  { 'name': 'Test-Android-Nexus7-Tegra3-Arm7-Debug' },
  { 'name': 'Test-Android-Nexus7-Tegra3-Arm7-Release' },
  { 'name': 'Test-Android-Nexus9-TegraK1-Arm64-Debug' },
  { 'name': 'Test-Android-Nexus9-TegraK1-Arm64-Release' },
  { 'name': 'Test-Android-NexusPlayer-PowerVR-x86-Debug' },
  { 'name': 'Test-Android-NexusPlayer-PowerVR-x86-Release' },
  { 'name': 'Test-Android-Xoom-Tegra2-Arm7-Debug' },
  { 'name': 'Test-Android-Xoom-Tegra2-Arm7-Release' },
]
