# -*- python -*-
# ex: set syntax=python:

# Copyright 2014 The Chromium Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# See master.experimental/slaves.cfg for documentation.


slaves = [
################################################################################
# Mojo
################################################################################
  {
    'master': 'Mojo',
    'hostname': 'vm219-m3',
    'builder': 'Mojo Linux (dbg)',
    'os': 'linux',
    'version': 'precise',
    'bits': '64',
  },
]
