# Copyright (c) 2011 The Chromium Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

slaves = [
  {
    'master': 'Skia',
    'hostname': 'skiabot-shuttle-ubuntu13-001',
    'builder': 'Test-Ubuntu13.10-ShuttleA-NoGPU-x86_64-Debug',
    'os': 'linux',
    'version': 'precise',
    'bits': '64',
  },
  {
    'master': 'Skia',
    'hostname': 'skiabot-linux-canary-000',
    'builder': [
        'Linux Builder',
        'Linux Tests',
    ],
    'os': 'linux',
    'version': 'precise',
    'bits': '64',
  },
]
