# -*- python -*-
# ex: set syntax=python:
# Copyright 2014 The Chromium Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

def windows():

  win_upload_clang_pool = [
    {
      'master': 'TryServerChromiumWin',
      'builder': 'win_upload_clang',
      'hostname': 'build%d-m4' % number,
      'os': 'win',
      'version': 'win7',
      'bits': '64',
      'pool': 'win_upload_clang',
    } for number in (4, 6)
  ]

  return (win_upload_clang_pool)


slaves = windows()
