# -*- python -*-
# ex: set syntax=python:

# Copyright 2014 The Chromium Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# See master.experimental/slaves.cfg for documentation.


hostname_builder_map = {}
def BuilderConfig(builder_name, *hostnames):
  for hostname in hostnames:
    hostname_builder_map.setdefault('build%d-m2' % (hostname,), []).append(
        builder_name)

MASTER='ChromiumOSChromium'
BuilderConfig('Chromium OS (x86) Perf', 245)
BuilderConfig('Chromium OS (amd64) Perf', 246)
BuilderConfig('Chromium OS (x86) Asan', 247)
BuilderConfig('Chromium OS (amd64) Asan', 248)
BuilderConfig('X86 (chromium)', 249)
BuilderConfig('AMD64 (chromium)', 250)
BuilderConfig('Daisy (chromium)', 251)

slaves = []
for hostname, builders in hostname_builder_map.iteritems():
  slaves.append({'master': MASTER,
                 'builder': builders,
                 'hostname': hostname,
                 'os': 'linux',
                 'version': 'precise'})
