# -*- python -*-
# ex: set syntax=python:

# Copyright 2014 The Chromium Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# See master.experimental/slaves.cfg for documentation.

MASTER='ChromiumOSChromium'
builder_hostname_map = {
}

hostname_builder_map = {}
for builder, hostnames in builder_hostname_map.iteritems():
  for hostname in hostnames:
    hostname_builder_map.setdefault(hostname, []).append(builder)

slaves = []
for hostname, builders in hostname_builder_map.iteritems():
  slaves.append({'master': MASTER,
                 'builder': builders,
                 'hostname': hostname,
                 'os': 'linux',
                 'version': 'precise'})
