# -*- python -*-
# ex: set syntax=python:

# Copyright 2015 The Chromium Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

slaves = [
  {
    'master': 'Infra',
    'builder': [
      'recipes-py-continuous',
    ],
    'hostname': 'slave138-c1',
    'os': 'linux',
    'version': 'trusty',
    'bits': '64',
  },
  {
    'master': 'Infra',
    'builder': ['infra-continuous-trusty-32'],
    'hostname': 'vm26-m1',
    'os': 'linux',
    'version': 'trusty',
    'bits': '32',
  },
]
