# -*- python -*-
# ex: set syntax=python:

# Copyright (c) 2011 The Chromium Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# See master.experimental/slaves.cfg for documentation.


slaves = [
  {
    'master': 'DrMemory',
    'builder': ['win-vista_x64-drm', 'win-vista_x64-dr', 'win-vista_x64-dr_nightly'],
    'hostname': 'vm75-m3',
    'os': 'win',
    'version': 'vista',
    'bits': '64',
  },
  {
    'master': 'DrMemory',
    'builder': ['win-builder', 'win-7_x64-drm', 'win-7_x64-dr', 'win-7_x64-dr_nightly'],
    'hostname': 'vm76-m3',
    'os': 'win',
    'version': 'win7',
    'bits': '64',
  },
  {
    'master': 'DrMemory',
    'builder': ['win7-stab'],
    'hostname': 'vm52-m3',
    'os': 'win',
    'version': 'win7',
    'bits': '64',
  },
  {
    'master': 'DrMemory',
    'builder': ['linux-builder', 'linux-lucid_x64-drm', 'linux-lucid_x64-dr', 'linux-lucid_x64-dr_nightly', 'linux-cr'],
    'hostname': 'vm8-m3',
    'os': 'linux',
    'version': 'lucid',
    'bits': '64',
  },
  {
    'master': 'DrMemory',
    'builder': ['win-xp-drm', 'win-xp-dr', 'win-xp-dr_nightly'],
    'hostname': 'vm74-m3',
    'os': 'win',
    'version': 'xp',
    'bits': '32',
  },
]
