# -*- python -*-
# ex: set syntax=python:

# Copyright (c) 2011 The Chromium Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# See master.experimental/slaves.cfg for documentation.


slaves = [
  {
    'master': 'DrMemory',
    'builder': 'Win XP',
    'hostname': 'vm74-m3',
    'os': 'win',
    'version': 'xp',
    'bits': '32',
  },
  {
    'master': 'DrMemory',
    'builder': 'Win Vista',
    'hostname': 'vm75-m3',
    'os': 'win',
    'version': 'vista',
    'bits': '64',
  },
  {
    'master': 'DrMemory',
    'builder': 'Win 7',
    'hostname': 'vm76-m3',
    'os': 'win',
    'version': 'win7',
    'bits': '64',
  },
  {
    'master': 'DrMemory',
    'builder': 'Linux',
    'hostname': 'vm8-m3',
    'os': 'linux',
    'version': 'lucid',
    'bits': '64',
  },
]
