# -*- python -*-
# ex: set syntax=python:

# Copyright (c) 2012 The Chromium Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# See master.experimental/slaves.cfg for documentation.


slaves = [
################################################################################
# Windows
################################################################################
  {
    'master': 'ChromiumWin',
    'hostname': 'build17-m1',
    'builder': 'Win Builder',
    'os': 'win',
    'version': '2012',
    'bits': '64',
  },
  {
    'master': 'ChromiumWin',
    'hostname': 'vm92-m1',
    'builder': 'Win7 (32) Tests',
    'os': 'win',
    'version': 'win7',
    'bits': '32',
  },
  {
    'master': 'ChromiumWin',
    'hostname': 'vm801-m1',
    'builder': 'Win7 Tests (1)',
    'os': 'win',
    'version': 'win7',
    'bits': '64',
  },
  {
    'master': 'ChromiumWin',
    'hostname': 'build78-m1',
    'builder': 'Win x64 Builder',
    'os': 'win',
    'version': 'win7',
    'bits': '64',
  },
  {
    'master': 'ChromiumWin',
    'hostname': 'build100-m1',
    'builder': 'Win x64 Builder (dbg)',
    'os': 'win',
    'version': 'win7',
    'bits': '64',
  },
  {
    'master': 'ChromiumWin',
    'hostname': 'vm932-m1',
    'builder': 'Win 7 Tests x64 (1)',
    'os': 'win',
    'version': 'win7',
    'bits': '64',
  },
  {
    'master': 'ChromiumWin',
    'builder': 'WinMSVC64',
    'hostname': 'vm111-m1',
    'os': 'win',
    'version': 'win7',
    'bits': '64',
  },
  {
    'master': 'ChromiumWin',
    'builder': 'WinMSVC64 (dbg)',
    'hostname': 'build2-m1',
    'os': 'win',
    'version': 'win7',
    'bits': '64',
  },
  {
    'master': 'ChromiumWin',
    'builder': 'Win10 Tests x64',
    'hostname': 'win27-c1',
    'os': 'win',
    'version': 'win10',
    'bits': '64',
  },
]
