# -*- python -*-
# ex: set syntax=python:

# Copyright (c) 2012 The Chromium Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# See master.experimental/slaves.cfg for documentation.


slaves = [
  {
    'master': 'ChromiumMemoryFull',
    'builder': 'Chromium Linux TSan Builder',
    'hostname': 'vm13-m1',
    'os': 'linux',
    'version': 'precise',
    'bits': '64',
  },
  {
    'master': 'ChromiumMemoryFull',
    'builder': 'Linux TSan Tests',
    'hostname': 'vm14-m1',
    'os': 'linux',
    'version': 'precise',
    'bits': '64',
  },
  {
    'master': 'ChromiumMemoryFull',
    'builder': 'Chromium Linux MSan Builder',
    'hostname': 'vm995-m1',
    'os': 'linux',
    'version': 'precise',
    'bits': '64',
  },
  {
    'master': 'ChromiumMemoryFull',
    'builder': 'Linux MSan Tests',
    'hostname': 'vm841-m1',
    'os': 'linux',
    'version': 'precise',
    'bits': '64',
  },
  {
    'master': 'ChromiumMemoryFull',
    'builder': 'Chromium Linux ChromeOS MSan Builder',
    'hostname': 'slave150-c1',
    'os': 'linux',
    'version': 'trusty',
    'bits': '64',
  },
  {
    'master': 'ChromiumMemoryFull',
    'builder': 'Linux ChromeOS MSan Tests',
    'hostname': 'slave151-c1',
    'os': 'linux',
    'version': 'trusty',
    'bits': '64',
  },
]
