# Copyright (c) 2012 The Chromium Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

slaves = [
  {
    'master': 'ChromiumGPUFYI',
    'hostname': 'vm80-m1',
    'builder': 'GPU Win Builder',
    'os': 'win',
    'version': 'win7',
    'bits': '64',
    'recipe': 'chromium',
    'build_config': 'Release',
    # Nearly all bots on these waterfalls are auto-rebooted between
    # runs for stability.
  },
  {
    'master': 'ChromiumGPUFYI',
    'hostname': 'vm81-m1',
    'builder': 'GPU Win Builder (dbg)',
    'os': 'win',
    'version': 'win7',
    'bits': '64',
    'recipe': 'chromium',
    'build_config': 'Debug',
    # Nearly all bots on these waterfalls are auto-rebooted between
    # runs for stability.
  },
  {
    'master': 'ChromiumGPUFYI',
    'hostname': 'vm82-m1',
    'builder': 'Win7 Release (NVIDIA)',
    'os': 'win',
    'version': 'win7',
    'bits': '64',
    'recipe': 'chromium',
    'build_config': 'Release',
    # This bot uses recipe-side triggers.
    'triggered_by': 'none',
    # Nearly all bots on these waterfalls are auto-rebooted between
    # runs for stability.
  },
  {
    'master': 'ChromiumGPUFYI',
    'hostname': 'vm83-m1',
    'builder': 'Win7 Debug (NVIDIA)',
    'os': 'win',
    'version': 'win7',
    'bits': '64',
    'recipe': 'chromium',
    'build_config': 'Debug',
    # This bot uses recipe-side triggers.
    'triggered_by': 'none',
    # Nearly all bots on these waterfalls are auto-rebooted between
    # runs for stability.
  },
  {
    'master': 'ChromiumGPUFYI',
    'hostname': 'vm84-m1',
    'builder': 'Win10 Release (NVIDIA)',
    'os': 'win',
    'version': 'win10',
    'bits': '64',
    'recipe': 'chromium',
    'build_config': 'Release',
    # This bot uses recipe-side triggers.
    'triggered_by': 'none',
    # Nearly all bots on these waterfalls are auto-rebooted between
    # runs for stability.
  },
  {
    'master': 'ChromiumGPUFYI',
    'hostname': 'vm85-m1',
    'builder': 'Win10 Debug (NVIDIA)',
    'os': 'win',
    'version': 'win10',
    'bits': '64',
    'recipe': 'chromium',
    'build_config': 'Debug',
    # This bot uses recipe-side triggers.
    'triggered_by': 'none',
    # Nearly all bots on these waterfalls are auto-rebooted between
    # runs for stability.
  },
  {
    'master': 'ChromiumGPUFYI',
    'hostname': 'vm86-m1',
    'builder': 'Win7 Release (AMD)',
    'os': 'win',
    'version': 'win7',
    'bits': '64',
    'recipe': 'chromium',
    'build_config': 'Release',
    # This bot uses recipe-side triggers.
    'triggered_by': 'none',
    # Nearly all bots on these waterfalls are auto-rebooted between
    # runs for stability.
  },
  {
    'master': 'ChromiumGPUFYI',
    'hostname': 'vm102-m1',
    'builder': 'Win7 Debug (AMD)',
    'os': 'win',
    'version': 'win7',
    'bits': '64',
    'recipe': 'chromium',
    'build_config': 'Debug',
    # This bot uses recipe-side triggers.
    'triggered_by': 'none',
    # Nearly all bots on these waterfalls are auto-rebooted between
    # runs for stability.
  },
  {
    'master': 'ChromiumGPUFYI',
    'hostname': 'build71-b1',
    'builder': 'Win7 Release (NVIDIA GeForce 730)',
    'os': 'win',
    'version': 'win7',
    'bits': '64',
    'recipe': 'chromium',
    'build_config': 'Release',
    # This bot uses recipe-side triggers.
    'triggered_by': 'none',
    # Nearly all bots on these waterfalls are auto-rebooted between
    # runs for stability.
  },
  {
    'master': 'ChromiumGPUFYI',
    'hostname': 'build74-b1',
    'builder': 'Win10 Release (New Intel)',
    'os': 'win',
    'version': 'win10',
    'bits': '64',
    'recipe': 'chromium',
    'build_config': 'Release',
    # This bot uses recipe-side triggers.
    'triggered_by': 'none',
    # Nearly all bots on these waterfalls are auto-rebooted between
    # runs for stability.
  },
  {
    'master': 'ChromiumGPUFYI',
    'hostname': 'build75-b1',
    'builder': 'Win10 Debug (New Intel)',
    'os': 'win',
    'version': 'win10',
    'bits': '64',
    'recipe': 'chromium',
    'build_config': 'Debug',
    # This bot uses recipe-side triggers.
    'triggered_by': 'none',
    # Nearly all bots on these waterfalls are auto-rebooted between
    # runs for stability.
  },
  {
    'master': 'ChromiumGPUFYI',
    'hostname': 'build109-b1',
    'builder': 'Win7 Release (AMD R5 230)',
    'os': 'win',
    'version': 'win7',
    'bits': '64',
    'recipe': 'chromium',
    'build_config': 'Release',
    # This bot uses recipe-side triggers.
    'triggered_by': 'none',
    # Nearly all bots on these waterfalls are auto-rebooted between
    # runs for stability.
  },
  {
    'master': 'ChromiumGPUFYI',
    'hostname': 'vm103-m1',
    'builder': 'GPU Win x64 Builder',
    'os': 'win',
    'version': 'win7',
    'bits': '64',
    'recipe': 'chromium',
    'build_config': 'Release',
    # Nearly all bots on these waterfalls are auto-rebooted between
    # runs for stability.
  },
  {
    'master': 'ChromiumGPUFYI',
    'hostname': 'vm104-m1',
    'builder': 'GPU Win x64 Builder (dbg)',
    'os': 'win',
    'version': 'win7',
    'bits': '64',
    'recipe': 'chromium',
    'build_config': 'Debug',
    # Nearly all bots on these waterfalls are auto-rebooted between
    # runs for stability.
  },
  {
    'master': 'ChromiumGPUFYI',
    'hostname': 'vm105-m1',
    'builder': 'Win7 x64 Release (NVIDIA)',
    'os': 'win',
    'version': 'win7',
    'bits': '64',
    'recipe': 'chromium',
    'build_config': 'Release',
    # This bot uses recipe-side triggers.
    'triggered_by': 'none',
    # Nearly all bots on these waterfalls are auto-rebooted between
    # runs for stability.
  },
  {
    'master': 'ChromiumGPUFYI',
    'hostname': 'vm106-m1',
    'builder': 'Win7 x64 Debug (NVIDIA)',
    'os': 'win',
    'version': 'win7',
    'bits': '64',
    'recipe': 'chromium',
    'build_config': 'Debug',
    # This bot uses recipe-side triggers.
    'triggered_by': 'none',
    # Nearly all bots on these waterfalls are auto-rebooted between
    # runs for stability.
  },
  {
    'master': 'ChromiumGPUFYI',
    'hostname': 'vm87-m1',
    'builder': 'GPU Win Clang Builder (dbg)',
    'os': 'win',
    'version': 'win7',
    'bits': '64',
    'recipe': 'chromium',
    'build_config': 'Debug',
    # Nearly all bots on these waterfalls are auto-rebooted between
    # runs for stability.
  },
  {
    'master': 'ChromiumGPUFYI',
    'hostname': 'vm696-m1',
    'builder': 'GPU Mac Builder',
    'os': 'mac',
    'version': '10.8',
    'bits': '64',
    'recipe': 'chromium',
    'build_config': 'Release',
    # Nearly all bots on these waterfalls are auto-rebooted between
    # runs for stability.
  },
  {
    'master': 'ChromiumGPUFYI',
    'hostname': 'vm697-m1',
    'builder': 'GPU Mac Builder (dbg)',
    'os': 'mac',
    'version': '10.8',
    'bits': '64',
    'recipe': 'chromium',
    'build_config': 'Debug',
    # Nearly all bots on these waterfalls are auto-rebooted between
    # runs for stability.
  },
  {
    'master': 'ChromiumGPUFYI',
    'hostname': 'vm71-m1',
    'builder': 'Mac 10.10 Release (Intel)',
    'os': 'mac',
    'version': '10.10',
    'bits': '64',
    'recipe': 'chromium',
    'build_config': 'Release',
    # This bot uses recipe-side triggers.
    'triggered_by': 'none',
    # Nearly all bots on these waterfalls are auto-rebooted between
    # runs for stability.
  },
  {
    'master': 'ChromiumGPUFYI',
    'hostname': 'vm72-m1',
    'builder': 'Mac 10.10 Debug (Intel)',
    'os': 'mac',
    'version': '10.10',
    'bits': '64',
    'recipe': 'chromium',
    'build_config': 'Debug',
    # This bot uses recipe-side triggers.
    'triggered_by': 'none',
    # Nearly all bots on these waterfalls are auto-rebooted between
    # runs for stability.
  },
  {
    'master': 'ChromiumGPUFYI',
    'hostname': 'build116-m1',
    'builder': 'Mac 10.10 Release (AMD)',
    'os': 'mac',
    'version': '10.10',
    'bits': '64',
    'recipe': 'chromium',
    'build_config': 'Release',
    # This bot uses recipe-side triggers.
    'triggered_by': 'none',
    # Nearly all bots on these waterfalls are auto-rebooted between
    # runs for stability.
  },
  {
    'master': 'ChromiumGPUFYI',
    'hostname': 'build117-m1',
    'builder': 'Mac 10.10 Debug (AMD)',
    'os': 'mac',
    'version': '10.10',
    'bits': '64',
    'recipe': 'chromium',
    'build_config': 'Debug',
    # This bot uses recipe-side triggers.
    'triggered_by': 'none',
    # Nearly all bots on these waterfalls are auto-rebooted between
    # runs for stability.
  },
  {
    'master': 'ChromiumGPUFYI',
    'hostname': 'build110-m1',
    'builder': 'Mac Retina Release',
    'os': 'mac',
    'version': '10.9',
    'bits': '64',
    'recipe': 'chromium',
    'build_config': 'Release',
    # This bot uses recipe-side triggers.
    'triggered_by': 'none',
    # Nearly all bots on these waterfalls are auto-rebooted between
    # runs for stability.
  },
  {
    'master': 'ChromiumGPUFYI',
    'hostname': 'build181-m1',
    'builder': 'Mac Retina Debug',
    'os': 'mac',
    'version': '10.9',
    'recipe': 'chromium',
    'build_config': 'Debug',
    'bits': '64',
    # This bot uses recipe-side triggers.
    'triggered_by': 'none',
    # Nearly all bots on these waterfalls are auto-rebooted between
    # runs for stability.
  },
  {
    'master': 'ChromiumGPUFYI',
    'hostname': 'vm73-m1',
    'builder': 'Mac 10.10 Retina Release (AMD)',
    'os': 'mac',
    'version': '10.10',
    'bits': '64',
    'recipe': 'chromium',
    'build_config': 'Release',
    # This bot uses recipe-side triggers.
    'triggered_by': 'none',
    # Nearly all bots on these waterfalls are auto-rebooted between
    # runs for stability.
  },
  {
    'master': 'ChromiumGPUFYI',
    'hostname': 'vm74-m1',
    'builder': 'Mac 10.10 Retina Debug (AMD)',
    'os': 'mac',
    'version': '10.10',
    'bits': '64',
    'recipe': 'chromium',
    'build_config': 'Debug',
    # This bot uses recipe-side triggers.
    'triggered_by': 'none',
    # Nearly all bots on these waterfalls are auto-rebooted between
    # runs for stability.
  },
  {
    'master': 'ChromiumGPUFYI',
    'hostname': 'build52-b1',
    'builder': 'Mac 10.11 Retina Release (AMD)',
    'os': 'mac',
    'version': '10.11',
    'bits': '64',
    'recipe': 'chromium',
    'build_config': 'Release',
    # This bot uses recipe-side triggers.
    'triggered_by': 'none',
    # Nearly all bots on these waterfalls are auto-rebooted between
    # runs for stability.
  },
  {
    'master': 'ChromiumGPUFYI',
    'hostname': 'vm49-m1',
    'builder': 'Mac GPU ASAN Release',
    'os': 'mac',
    'version': '10.10',
    'bits': '64',
    'recipe': 'chromium',
    'build_config': 'Release',
    # Nearly all bots on these waterfalls are auto-rebooted between
    # runs for stability.
  },
  {
    'master': 'ChromiumGPUFYI',
    'hostname': 'slave60-c1',
    'builder': 'GPU Linux Builder',
    'os': 'linux',
    'version': 'precise',
    'bits': '64',
    'recipe': 'chromium',
    'build_config': 'Release',
    # Nearly all bots on these waterfalls are auto-rebooted between
    # runs for stability.
  },
  {
    'master': 'ChromiumGPUFYI',
    'hostname': 'slave61-c1',
    'builder': 'GPU Linux Builder (dbg)',
    'os': 'linux',
    'version': 'precise',
    'bits': '64',
    'recipe': 'chromium',
    'build_config': 'Debug',
    # Nearly all bots on these waterfalls are auto-rebooted between
    # runs for stability.
  },
  {
    'master': 'ChromiumGPUFYI',
    'hostname': 'slave64-c1',
    'builder': 'Linux Release (NVIDIA)',
    'os': 'linux',
    'version': 'trusty',
    'bits': '64',
    'recipe': 'chromium',
    'build_config': 'Release',
    # This bot uses recipe-side triggers.
    'triggered_by': 'none',
    # Nearly all bots on these waterfalls are auto-rebooted between
    # runs for stability.
  },
  {
    'master': 'ChromiumGPUFYI',
    'hostname': 'build89-m1',
    'builder': 'Linux Release (AMD R5 230)',
    'os': 'linux',
    'version': 'precise',
    'bits': '64',
    'recipe': 'chromium',
    'build_config': 'Release',
    # This bot uses recipe-side triggers.
    'triggered_by': 'none',
    # Nearly all bots on these waterfalls are auto-rebooted between
    # runs for stability.
  },
  {
    'master': 'ChromiumGPUFYI',
    'hostname': 'build70-b1',
    'builder': 'Linux Release (NVIDIA GeForce 730)',
    'os': 'linux',
    'version': 'precise',
    'bits': '64',
    'recipe': 'chromium',
    'build_config': 'Release',
    # This bot uses recipe-side triggers.
    'triggered_by': 'none',
    # Nearly all bots on these waterfalls are auto-rebooted between
    # runs for stability.
  },
  {
    'master': 'ChromiumGPUFYI',
    'hostname': 'slave22-c1',
    'builder': 'Linux Debug (NVIDIA)',
    'os': 'linux',
    'version': 'trusty',
    'bits': '64',
    'recipe': 'chromium',
    'build_config': 'Debug',
    # This bot uses recipe-side triggers.
    'triggered_by': 'none',
    # Nearly all bots on these waterfalls are auto-rebooted between
    # runs for stability.
  },
  {
    'master': 'ChromiumGPUFYI',
    'hostname': 'build73-b1',
    'builder': 'Linux Release (New Intel)',
    'os': 'linux',
    'version': 'precise',
    'bits': '64',
    'recipe': 'chromium',
    'build_config': 'Release',
    # This bot uses recipe-side triggers.
    'triggered_by': 'none',
    # Nearly all bots on these waterfalls are auto-rebooted between
    # runs for stability.
  },
  {
    'master': 'ChromiumGPUFYI',
    'hostname': 'build72-b1',
    'builder': 'Linux Debug (New Intel)',
    'os': 'linux',
    'version': 'precise',
    'bits': '64',
    'recipe': 'chromium',
    'build_config': 'Debug',
    # This bot uses recipe-side triggers.
    'triggered_by': 'none',
    # Nearly all bots on these waterfalls are auto-rebooted between
    # runs for stability.
  },
  {
    'master': 'ChromiumGPUFYI',
    'hostname': 'build115-b1',
    'builder': 'Linux Release (AMD R7 240)',
    'os': 'linux',
    'version': 'precise',
    'bits': '64',
    'recipe': 'chromium',
    'build_config': 'Release',
    # This bot uses recipe-side triggers.
    'triggered_by': 'none',
    # Nearly all bots on these waterfalls are auto-rebooted between
    # runs for stability.
  },
  {
    'master': 'ChromiumGPUFYI',
    'hostname': 'build59-b1',
    'builder': 'Android Release (Nexus 5)',
    'os': 'linux',
    'version': 'precise',
    'bits': '64',
    'recipe': 'chromium',
    'build_config': 'Release',
    # Nearly all bots on these waterfalls are auto-rebooted between
    # runs for stability.
  },
  {
    'master': 'ChromiumGPUFYI',
    'hostname': 'slave29-c1',
    'builder': 'Android Release (Nexus 5X)',
    'os': 'linux',
    'version': 'precise',
    'bits': '64',
    'recipe': 'chromium',
    'build_config': 'Release',
    # Nearly all bots on these waterfalls are auto-rebooted between
    # runs for stability.
  },
  {
    'master': 'ChromiumGPUFYI',
    'hostname': 'build60-b1',
    'builder': 'Android Release (Nexus 6)',
    'os': 'linux',
    'version': 'precise',
    'bits': '64',
    'recipe': 'chromium',
    'build_config': 'Release',
    # Nearly all bots on these waterfalls are auto-rebooted between
    # runs for stability.
  },
  {
    'master': 'ChromiumGPUFYI',
    'hostname': 'build89-b1',
    'builder': 'Android Release (Nexus 6P)',
    'os': 'linux',
    'version': 'precise',
    'bits': '64',
    'recipe': 'chromium',
    'build_config': 'Release',
    # Nearly all bots on these waterfalls are auto-rebooted between
    # runs for stability.
  },
  {
    'master': 'ChromiumGPUFYI',
    'hostname': 'build61-b1',
    'builder': 'Android Release (Nexus 9)',
    'os': 'linux',
    'version': 'precise',
    'bits': '64',
    'recipe': 'chromium',
    'build_config': 'Release',
    # Nearly all bots on these waterfalls are auto-rebooted between
    # runs for stability.
  },
  {
    'master': 'ChromiumGPUFYI',
    'hostname': 'build90-b1',
    'builder': 'Android Release (Pixel C)',
    'os': 'linux',
    'version': 'precise',
    'bits': '64',
    'recipe': 'chromium',
    'build_config': 'Release',
    # Nearly all bots on these waterfalls are auto-rebooted between
    # runs for stability.
  },
  {
    'master': 'ChromiumGPUFYI',
    'hostname': 'slave907-c4',
    'builder': 'Linux ChromiumOS Builder',
    'os': 'linux',
    'version': 'precise',
    'bits': '64',
    'recipe': 'chromium',
    'build_config': 'Release',
    # Nearly all bots on these waterfalls are auto-rebooted between
    # runs for stability.
  },
  {
    'master': 'ChromiumGPUFYI',
    'hostname': 'cros-wimpy8-c2',
    'builder': 'Linux ChromiumOS Ozone Builder',
    'os': 'linux',
    'version': 'trusty',
    'bits': '64',
    'recipe': 'chromium',
    'build_config': 'Release',
    # Nearly all bots on these waterfalls are auto-rebooted between
    # runs for stability.
  },
]

for slave in slaves:
  slave.update({
    '$recipe_engine': {'mode_flags': {'use_subprocess42': True}}
  })
