# Copyright (c) 2012 The Chromium Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

slaves = [
  {
    'master': 'ChromiumGPUFYI',
    'hostname': 'build50-m1',
    'builder': 'GPU Win Builder',
    'os': 'win',
    'version': 'win7',
    'bits': '64',
    'recipe': 'gpu/build_and_upload',
    'build_config': 'Release',
  },
  {
    'master': 'ChromiumGPUFYI',
    'hostname': 'build57-m1',
    'builder': 'GPU Win Builder (dbg)',
    'os': 'win',
    'version': 'win7',
    'bits': '64',
    'recipe': 'gpu/build_and_upload',
    'build_config': 'Debug',
  },
  {
    'master': 'ChromiumGPUFYI',
    'hostname': 'gpuwin9',
    'builder': 'WinXP Release (NVIDIA)',
    'os': 'win',
    'version': 'xp',
    'bits': '32',
    'recipe': 'gpu/build_and_test',
    'build_config': 'Release',
    'perf_id': 'gpu-fyi-winxp-release-nvidia',
  },
  {
    'master': 'ChromiumGPUFYI',
    'hostname': 'gpuwin10',
    'builder': 'WinXP Debug (NVIDIA)',
    'os': 'win',
    'version': 'xp',
    'bits': '32',
    'recipe': 'gpu/build_and_test',
    'build_config': 'Debug',
  },
  {
    'master': 'ChromiumGPUFYI',
    'hostname': 'vm696-m1',
    'builder': 'GPU Mac Builder',
    'os': 'mac',
    'version': '10.8',
    'bits': '64',
    'recipe': 'gpu/build_and_upload',
    'build_config': 'Release',
  },
  {
    'master': 'ChromiumGPUFYI',
    'hostname': 'vm697-m1',
    'builder': 'GPU Mac Builder (dbg)',
    'os': 'mac',
    'version': '10.8',
    'bits': '64',
    'recipe': 'gpu/build_and_upload',
    'build_config': 'Debug',
  },
  {
    'master': 'ChromiumGPUFYI',
    'hostname': 'build10-m1',
    'builder': 'GPU Linux Builder',
    'os': 'linux',
    'version': 'precise',
    'bits': '64',
    'recipe': 'gpu/build_and_upload',
    'build_config': 'Release',
  },
  {
    'master': 'ChromiumGPUFYI',
    'hostname': 'build13-m1',
    'builder': 'GPU Linux Builder (dbg)',
    'os': 'linux',
    'version': 'precise',
    'bits': '64',
    'recipe': 'gpu/build_and_upload',
    'build_config': 'Debug',
  },
  {
    'master': 'ChromiumGPUFYI',
    'hostname': 'gpulin6',
    'builder': 'Linux Release (Intel)',
    'os': 'linux',
    'version': 'precise',
    'bits': '64',
    'recipe': 'gpu/build_and_test',
    'build_config': 'Release',
    'perf_id': 'gpu-fyi-linux-release-intel',
  },
  {
    'master': 'ChromiumGPUFYI',
    'hostname': 'gpulin5',
    'builder': 'Linux Release (ATI)',
    'os': 'linux',
    'version': 'precise',
    'bits': '64',
    'recipe': 'gpu/build_and_test',
    'build_config': 'Release',
    'perf_id': 'gpu-fyi-linux-release-ati',
  },
  {
    'master': 'ChromiumGPUFYI',
    'hostname': 'chromeperf21',
    'builder': 'Win7 Audio',
    'os': 'win',
    'version': 'win7',
    'bits': '64',
  },
  {
    'master': 'ChromiumGPUFYI',
    'hostname': 'chromeperf22',
    'builder': 'Linux Audio',
    'os': 'linux',
    'version': 'precise',
    'bits': '64',
  },
]
