# Copyright (c) 2012 The Chromium Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

slaves = [
  {
    'master': 'ChromiumGPUFYI',
    'hostname': 'vm80-m1',
    'builder': 'GPU Win Builder',
    'os': 'win',
    'version': 'win7',
    'bits': '64',
    'recipe': 'chromium',
    'build_config': 'Release',
    # Nearly all bots on these waterfalls are auto-rebooted between
    # runs for stability.
  },
  {
    'master': 'ChromiumGPUFYI',
    'hostname': 'vm81-m1',
    'builder': 'GPU Win Builder (dbg)',
    'os': 'win',
    'version': 'win7',
    'bits': '64',
    'recipe': 'chromium',
    'build_config': 'Debug',
    # Nearly all bots on these waterfalls are auto-rebooted between
    # runs for stability.
  },
  {
    'master': 'ChromiumGPUFYI',
    'hostname': 'vm82-m1',
    'builder': 'Win7 Release (NVIDIA)',
    'os': 'win',
    'version': 'win7',
    'bits': '64',
    'recipe': 'chromium',
    'build_config': 'Release',
    # This bot uses recipe-side triggers.
    'triggered_by': 'none',
    # Nearly all bots on these waterfalls are auto-rebooted between
    # runs for stability.
  },
  {
    'master': 'ChromiumGPUFYI',
    'hostname': 'vm83-m1',
    'builder': 'Win7 Debug (NVIDIA)',
    'os': 'win',
    'version': 'win7',
    'bits': '64',
    'recipe': 'chromium',
    'build_config': 'Debug',
    # This bot uses recipe-side triggers.
    'triggered_by': 'none',
    # Nearly all bots on these waterfalls are auto-rebooted between
    # runs for stability.
  },
  {
    'master': 'ChromiumGPUFYI',
    'hostname': 'vm84-m1',
    'builder': 'Win8 Release (NVIDIA)',
    'os': 'win',
    'version': 'win8',
    'bits': '64',
    'recipe': 'chromium',
    'build_config': 'Release',
    # This bot uses recipe-side triggers.
    'triggered_by': 'none',
    # Nearly all bots on these waterfalls are auto-rebooted between
    # runs for stability.
  },
  {
    'master': 'ChromiumGPUFYI',
    'hostname': 'vm85-m1',
    'builder': 'Win8 Debug (NVIDIA)',
    'os': 'win',
    'version': 'win8',
    'bits': '64',
    'recipe': 'chromium',
    'build_config': 'Debug',
    # This bot uses recipe-side triggers.
    'triggered_by': 'none',
    # Nearly all bots on these waterfalls are auto-rebooted between
    # runs for stability.
  },
  {
    'master': 'ChromiumGPUFYI',
    'hostname': 'vm86-m1',
    'builder': 'Win7 Release (ATI)',
    'os': 'win',
    'version': 'win7',
    'bits': '64',
    'recipe': 'chromium',
    'build_config': 'Release',
    # This bot uses recipe-side triggers.
    'triggered_by': 'none',
    # Nearly all bots on these waterfalls are auto-rebooted between
    # runs for stability.
  },
  {
    'master': 'ChromiumGPUFYI',
    'hostname': 'vm102-m1',
    'builder': 'Win7 Debug (ATI)',
    'os': 'win',
    'version': 'win7',
    'bits': '64',
    'recipe': 'chromium',
    'build_config': 'Debug',
    # This bot uses recipe-side triggers.
    'triggered_by': 'none',
    # Nearly all bots on these waterfalls are auto-rebooted between
    # runs for stability.
  },
  {
    'master': 'ChromiumGPUFYI',
    'hostname': 'build169-m1',
    'builder': 'Win7 Release (Intel)',
    'os': 'win',
    'version': 'win7',
    'bits': '64',
    'recipe': 'chromium',
    'build_config': 'Release',
    # This bot uses recipe-side triggers.
    'triggered_by': 'none',
    # Nearly all bots on these waterfalls are auto-rebooted between
    # runs for stability.
  },
  {
    'master': 'ChromiumGPUFYI',
    'hostname': 'build71-b1',
    'builder': 'Win7 Release (NVIDIA GeForce 730)',
    'os': 'win',
    'version': 'win7',
    'bits': '64',
    'recipe': 'chromium',
    'build_config': 'Release',
    # This bot uses recipe-side triggers.
    'triggered_by': 'none',
    # Nearly all bots on these waterfalls are auto-rebooted between
    # runs for stability.
  },
  {
    'master': 'ChromiumGPUFYI',
    'hostname': 'build74-b1',
    'builder': 'Win7 Release (New Intel)',
    'os': 'win',
    'version': 'win7',
    'bits': '64',
    'recipe': 'chromium',
    'build_config': 'Release',
    # This bot uses recipe-side triggers.
    'triggered_by': 'none',
    # Nearly all bots on these waterfalls are auto-rebooted between
    # runs for stability.
  },
  {
    'master': 'ChromiumGPUFYI',
    'hostname': 'build75-b1',
    'builder': 'Win7 Debug (New Intel)',
    'os': 'win',
    'version': 'win7',
    'bits': '64',
    'recipe': 'chromium',
    'build_config': 'Debug',
    # This bot uses recipe-side triggers.
    'triggered_by': 'none',
    # Nearly all bots on these waterfalls are auto-rebooted between
    # runs for stability.
  },
  {
    'master': 'ChromiumGPUFYI',
    'hostname': 'vm103-m1',
    'builder': 'GPU Win x64 Builder',
    'os': 'win',
    'version': 'win7',
    'bits': '64',
    'recipe': 'chromium',
    'build_config': 'Release',
    # Nearly all bots on these waterfalls are auto-rebooted between
    # runs for stability.
  },
  {
    'master': 'ChromiumGPUFYI',
    'hostname': 'vm104-m1',
    'builder': 'GPU Win x64 Builder (dbg)',
    'os': 'win',
    'version': 'win7',
    'bits': '64',
    'recipe': 'chromium',
    'build_config': 'Debug',
    # Nearly all bots on these waterfalls are auto-rebooted between
    # runs for stability.
  },
  {
    'master': 'ChromiumGPUFYI',
    'hostname': 'vm105-m1',
    'builder': 'Win7 x64 Release (NVIDIA)',
    'os': 'win',
    'version': 'win7',
    'bits': '64',
    'recipe': 'chromium',
    'build_config': 'Release',
    # This bot uses recipe-side triggers.
    'triggered_by': 'none',
    # Nearly all bots on these waterfalls are auto-rebooted between
    # runs for stability.
  },
  {
    'master': 'ChromiumGPUFYI',
    'hostname': 'vm106-m1',
    'builder': 'Win7 x64 Debug (NVIDIA)',
    'os': 'win',
    'version': 'win7',
    'bits': '64',
    'recipe': 'chromium',
    'build_config': 'Debug',
    # This bot uses recipe-side triggers.
    'triggered_by': 'none',
    # Nearly all bots on these waterfalls are auto-rebooted between
    # runs for stability.
  },
  {
    'master': 'ChromiumGPUFYI',
    'hostname': 'vm87-m1',
    'builder': 'GPU Win Clang Builder (dbg)',
    'os': 'win',
    'version': 'win7',
    'bits': '64',
    'recipe': 'chromium',
    'build_config': 'Debug',
    # Nearly all bots on these waterfalls are auto-rebooted between
    # runs for stability.
  },
  {
    'master': 'ChromiumGPUFYI',
    'hostname': 'vm696-m1',
    'builder': 'GPU Mac Builder',
    'os': 'mac',
    'version': '10.8',
    'bits': '64',
    'recipe': 'chromium',
    'build_config': 'Release',
    # Nearly all bots on these waterfalls are auto-rebooted between
    # runs for stability.
  },
  {
    'master': 'ChromiumGPUFYI',
    'hostname': 'vm697-m1',
    'builder': 'GPU Mac Builder (dbg)',
    'os': 'mac',
    'version': '10.8',
    'bits': '64',
    'recipe': 'chromium',
    'build_config': 'Debug',
    # Nearly all bots on these waterfalls are auto-rebooted between
    # runs for stability.
  },
  {
    'master': 'ChromiumGPUFYI',
    'hostname': 'vm71-m1',
    'builder': 'Mac 10.10 Release (Intel)',
    'os': 'mac',
    'version': '10.10',
    'bits': '64',
    'recipe': 'chromium',
    'build_config': 'Release',
    # This bot uses recipe-side triggers.
    'triggered_by': 'none',
    # Nearly all bots on these waterfalls are auto-rebooted between
    # runs for stability.
  },
  {
    'master': 'ChromiumGPUFYI',
    'hostname': 'vm72-m1',
    'builder': 'Mac 10.10 Debug (Intel)',
    'os': 'mac',
    'version': '10.10',
    'bits': '64',
    'recipe': 'chromium',
    'build_config': 'Debug',
    # This bot uses recipe-side triggers.
    'triggered_by': 'none',
    # Nearly all bots on these waterfalls are auto-rebooted between
    # runs for stability.
  },
  {
    'master': 'ChromiumGPUFYI',
    'hostname': 'build116-m1',
    'builder': 'Mac 10.10 Release (ATI)',
    'os': 'mac',
    'version': '10.10',
    'bits': '64',
    'recipe': 'chromium',
    'build_config': 'Release',
    # This bot uses recipe-side triggers.
    'triggered_by': 'none',
    # Nearly all bots on these waterfalls are auto-rebooted between
    # runs for stability.
  },
  {
    'master': 'ChromiumGPUFYI',
    'hostname': 'build117-m1',
    'builder': 'Mac 10.10 Debug (ATI)',
    'os': 'mac',
    'version': '10.10',
    'bits': '64',
    'recipe': 'chromium',
    'build_config': 'Debug',
    # This bot uses recipe-side triggers.
    'triggered_by': 'none',
    # Nearly all bots on these waterfalls are auto-rebooted between
    # runs for stability.
  },
  {
    'master': 'ChromiumGPUFYI',
    'hostname': 'build110-m1',
    'builder': 'Mac Retina Release',
    'os': 'mac',
    'version': '10.9',
    'bits': '64',
    'recipe': 'chromium',
    'build_config': 'Release',
    # This bot uses recipe-side triggers.
    'triggered_by': 'none',
    # Nearly all bots on these waterfalls are auto-rebooted between
    # runs for stability.
  },
  {
    'master': 'ChromiumGPUFYI',
    'hostname': 'build181-m1',
    'builder': 'Mac Retina Debug',
    'os': 'mac',
    'version': '10.9',
    'recipe': 'chromium',
    'build_config': 'Debug',
    'bits': '64',
    # This bot uses recipe-side triggers.
    'triggered_by': 'none',
    # Nearly all bots on these waterfalls are auto-rebooted between
    # runs for stability.
  },
  {
    'master': 'ChromiumGPUFYI',
    'hostname': 'vm73-m1',
    'builder': 'Mac 10.10 Retina Release (AMD)',
    'os': 'mac',
    'version': '10.10',
    'bits': '64',
    'recipe': 'chromium',
    'build_config': 'Release',
    # This bot uses recipe-side triggers.
    'triggered_by': 'none',
    # Nearly all bots on these waterfalls are auto-rebooted between
    # runs for stability.
  },
  {
    'master': 'ChromiumGPUFYI',
    'hostname': 'vm74-m1',
    'builder': 'Mac 10.10 Retina Debug (AMD)',
    'os': 'mac',
    'version': '10.10',
    'bits': '64',
    'recipe': 'chromium',
    'build_config': 'Debug',
    # This bot uses recipe-side triggers.
    'triggered_by': 'none',
    # Nearly all bots on these waterfalls are auto-rebooted between
    # runs for stability.
  },
  {
    'master': 'ChromiumGPUFYI',
    'hostname': 'slave60-c1',
    'builder': 'GPU Linux Builder',
    'os': 'linux',
    'version': 'precise',
    'bits': '64',
    'recipe': 'chromium',
    'build_config': 'Release',
    # Nearly all bots on these waterfalls are auto-rebooted between
    # runs for stability.
  },
  {
    'master': 'ChromiumGPUFYI',
    'hostname': 'slave61-c1',
    'builder': 'GPU Linux Builder (dbg)',
    'os': 'linux',
    'version': 'precise',
    'bits': '64',
    'recipe': 'chromium',
    'build_config': 'Debug',
    # Nearly all bots on these waterfalls are auto-rebooted between
    # runs for stability.
  },
  {
    'master': 'ChromiumGPUFYI',
    'hostname': 'slave64-c1',
    'subdir': '0',
    'builder': 'Linux Release (NVIDIA)',
    'os': 'linux',
    'version': 'precise',
    'bits': '64',
    'recipe': 'chromium',
    'build_config': 'Release',
    # This bot uses recipe-side triggers.
    'triggered_by': 'none',
    # This physical host is shared between multiple builders and can't
    # be auto-rebooted.
    'auto_reboot': False,
  },
  {
    'master': 'ChromiumGPUFYI',
    'hostname': 'build171-m1',
    'builder': 'Linux Release (Intel Graphics Stack)',
    'os': 'linux',
    'version': 'precise',
    'bits': '64',
    'recipe': 'chromium',
    'build_config': 'Release',
    # This bot uses recipe-side triggers.
    'triggered_by': 'none',
    # Nearly all bots on these waterfalls are auto-rebooted between
    # runs for stability.
  },
  {
    'master': 'ChromiumGPUFYI',
    'hostname': 'build89-m1',
    'builder': 'Linux Release (ATI)',
    'os': 'linux',
    'version': 'precise',
    'bits': '64',
    'recipe': 'chromium',
    'build_config': 'Release',
    # This bot uses recipe-side triggers.
    'triggered_by': 'none',
    # Nearly all bots on these waterfalls are auto-rebooted between
    # runs for stability.
  },
  {
    'master': 'ChromiumGPUFYI',
    'hostname': 'build70-b1',
    'builder': 'Linux Release (NVIDIA GeForce 730)',
    'os': 'linux',
    'version': 'precise',
    'bits': '64',
    'recipe': 'chromium',
    'build_config': 'Release',
    # This bot uses recipe-side triggers.
    'triggered_by': 'none',
    # Nearly all bots on these waterfalls are auto-rebooted between
    # runs for stability.
  },
  {
    'master': 'ChromiumGPUFYI',
    'hostname': 'slave64-c1',
    'subdir': '1',
    'builder': 'Linux Debug (NVIDIA)',
    'os': 'linux',
    'version': 'precise',
    'bits': '64',
    'recipe': 'chromium',
    'build_config': 'Debug',
    # This bot uses recipe-side triggers.
    'triggered_by': 'none',
    # This physical host is shared between multiple builders and can't
    # be auto-rebooted.
    'auto_reboot': False,
  },
  {
    'master': 'ChromiumGPUFYI',
    'hostname': 'build72-b1',
    'builder': 'Linux Release (New Intel)',
    'os': 'linux',
    'version': 'precise',
    'bits': '64',
    'recipe': 'chromium',
    'build_config': 'Release',
    # This bot uses recipe-side triggers.
    'triggered_by': 'none',
    # Nearly all bots on these waterfalls are auto-rebooted between
    # runs for stability.
  },
  {
    'master': 'ChromiumGPUFYI',
    'hostname': 'build73-b1',
    'builder': 'Linux Debug (New Intel)',
    'os': 'linux',
    'version': 'precise',
    'bits': '64',
    'recipe': 'chromium',
    'build_config': 'Debug',
    # This bot uses recipe-side triggers.
    'triggered_by': 'none',
    # Nearly all bots on these waterfalls are auto-rebooted between
    # runs for stability.
  },
  {
    'master': 'ChromiumGPUFYI',
    'hostname': 'chromeperf21',
    'builder': 'Win7 Audio',
    'os': 'win',
    'version': 'win7',
    'bits': '64',
  },
  {
    'master': 'ChromiumGPUFYI',
    'hostname': 'chromeperf22',
    'builder': 'Linux Audio',
    'os': 'linux',
    'version': 'precise',
    'bits': '64',
  },
]
