# Copyright (c) 2012 The Chromium Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

slaves = [
  # Linux
  {
    'master': 'WebRTC',
    'os': 'linux',
    'version': 'lucid',
    'bits': '64',
    'builder': ['Linux32Debug'],
    'hostname': 'linux-vm-1',
  },
  {
    'master': 'WebRTC',
    'os': 'linux',
    'version': 'lucid',
    'bits': '64',
    'builder': ['Linux32Release'],
    'hostname': 'linux-vm-2',
  },
  {
    'master': 'WebRTC',
    'os': 'linux',
    'version': 'lucid',
    'bits': '64',
    'builder': ['Linux64Debug'],
    'hostname': 'linux-vm-3',
  },
  {
    'master': 'WebRTC',
    'os': 'linux',
    'version': 'lucid',
    'bits': '64',
    'builder': ['Linux64Release'],
    'hostname': 'linux-vm-4',
  },
  {
    'master': 'WebRTC',
    'os': 'linux',
    'version': 'lucid',
    'bits': '64',
    'builder': ['LinuxClang'],
    'hostname': 'linux-vm-5',
  },
  {
    'master': 'WebRTC',
    'os': 'linux',
    'version': 'lucid',
    'bits': '64',
    'builder': ['LinuxMemcheck'],
    'hostname': 'linux-vm-6',
  },
  {
    'master': 'WebRTC',
    'os': 'linux',
    'version': 'lucid',
    'bits': '64',
    'builder': ['LinuxTsan'],
    'hostname': 'linux-vm-7',
  },
  {
    'master': 'WebRTC',
    'os': 'linux',
    'version': 'lucid',
    'bits': '64',
    'builder': ['LinuxAsan'],
    'hostname': 'linux-vm-8',
  },
  {
    'master': 'WebRTC',
    'os': 'linux',
    'version': 'lucid',
    'bits': '64',
    'builder': ['CrOS'],
    'hostname': 'linux-vm-9',
  },
  # Mac
  {
    'master': 'WebRTC',
    'os': 'mac',
    'version': '10.8',
    'bits': '64',
    'builder': ['Mac32Debug'],
    'hostname': 'mac-1',
  },
  {
    'master': 'WebRTC',
    'os': 'mac',
    'version': '10.8',
    'bits': '64',
    'builder': ['Mac32Release'],
    'hostname': 'mac-2',
  },
  {
    'master': 'WebRTC',
    'os': 'mac',
    'version': '10.8',
    'bits': '64',
    'builder': ['MacMemcheck'],
    'hostname': 'mac-3',
  },
  {
    'master': 'WebRTC',
    'os': 'mac',
    'version': '10.8',
    'bits': '64',
    'builder': ['MacTsan'],
    'hostname': 'mac-4',
  },
  {
    'master': 'WebRTC',
    'os': 'mac',
    'version': '10.8',
    'bits': '64',
    'builder': ['MacAsan'],
    'hostname': 'mac-5',
  },
  # Windows
  {
    'master': 'WebRTC',
    'os': 'win',
    'version': 'win7',
    'bits': '64',
    'builder': ['Win32Debug'],
    'hostname': 'win-1',
  },
  {
    'master': 'WebRTC',
    'os': 'win',
    'version': 'win7',
    'bits': '64',
    'builder': ['Win32Release'],
    'hostname': 'win-2',
  },
]
