# -*- python -*-
# ex: set syntax=python:

# Copyright (c) 2012 The Chromium Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# See master.experimental/slaves.cfg for documentation.


slaves = [
  {
    'master': 'ChromiumSwarm',
    'builder': 'Linux Swarm Tests (1)',
    'hostname': 'vm157-m1',
    'os': 'linux',
    'version': 'lucid',
    'bits': '64',
  },
  {
    'master': 'ChromiumSwarm',
    'builder': 'Windows Swarm Tests (1)',
    'hostname': 'vm53-m1',
    'os': 'win',
    'version': 'win7',
    'bits': '64',
  },
  {
    'master': 'ChromiumSwarm',
    'builder': 'Mac Swarm Tests (1)',
    'hostname': 'mini10-m1',
    'os': 'mac',
    'version': '10.6',
    'bits': '64',
  },
]
