# -*- python -*-
# ex: set syntax=python:

# Copyright (c) 2012 The Chromium Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# See master.experimental/slaves.cfg for documentation.

heartbeat_slaves = [
  {
    'master': 'ChromiumSwarm',
    'builder': ['Heartbeat', 'Heartbeat Canary'],
    'hostname': 'slave31-c1',
    'os': 'linux',
    'version': 'lucid',
    'bits': '64',
    'subdir': str(j),
  } for j in xrange(20)
]

real_slaves = [
  {
    'master': 'ChromiumSwarm',
    'builder': 'Linux Swarm',
    'hostname': 'slave32-c1',
    'os': 'linux',
    'version': 'lucid',
    'bits': '64',
  },
  {
    'master': 'ChromiumSwarm',
    'builder': 'Android Swarm',
    'hostname': 'slave34-c1',
    'os': 'linux',
    'version': 'lucid',
    'bits': '64',
  },
  {
    'master': 'ChromiumSwarm',
    'builder': 'Windows Swarm',
    'hostname': 'win17-c1',
    'os': 'win',
    'version': 'win7',
    'bits': '64',
  },
  {
    'master': 'ChromiumSwarm',
    'builder': 'Mac Swarm',
    'hostname': 'mini10-m1',
    'os': 'mac',
    'version': '10.6',
    'bits': '64',
  },
  {
    'master': 'ChromiumSwarm',
    'builder': 'Windows deterministic',
    'hostname': 'win12-c1',
    'os': 'win',
    'version': 'win7',
    'bits': '64',
  },
  {
    'master': 'ChromiumSwarm',
    'builder': 'Windows Clang deterministic',
    'hostname': 'win13-c1',
    'os': 'win',
    'version': 'win7',
    'bits': '64',
  },
  {
    'master': 'ChromiumSwarm',
    'builder': 'Linux deterministic',
    'hostname': 'slave0-c1',
    'os': 'linux',
    'version': 'lucid',
    'bits': '64',
  },
  {
    'master': 'ChromiumSwarm',
    'builder': 'Mac deterministic',
    'hostname': 'vm610-m1',
    'os': 'mac',
    'version': '10.9',
    'bits': '64',
  },
  {
    'master': 'ChromiumSwarm',
    'builder': 'Android deterministic',
    'hostname': 'slave1-c1',
    'os': 'linux',
    'version': 'lucid',
    'bits': '64',
  },
]

slaves = heartbeat_slaves + real_slaves
