# -*- python -*-
# ex: set syntax=python:
# Copyright 2014 The Chromium Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# See master.experimental/slaves.cfg for documentation.

def mac():
  optional_slaves = ['vm%d-m4' % i
                      for i in [723, 804, 1025, 1026]]
  optional_builders = [
      'mac_chromium_archive_rel_ng',
      'mac_chromium_asan_rel_ng',
      'mac_upload_clang',
  ]

  out = []
  out.extend(
    {
      'master': 'TryServerChromiumMac',
      'builder': optional_builders,
      'hostname': slave,
      'os': 'mac',
      'version': '10.12',
      'bits': '64',
      'pool': 'mac_optional',
    } for slave in optional_slaves
  )

  return out

slaves = mac()
