# -*- python -*-
# ex: set syntax=python:

# Copyright (c) 2012 The Chromium Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# See master.experimental/slaves.cfg for documentation.


slaves = [
  {
    'master': 'ChromiumFlaky',
    'builder': 'Linux Flaky Builder (dbg)',
    'hostname': 'vm56-m1',
    'os': 'linux',
    'version': 'lucid',
    'bits': '64',
  },
  {
    'master': 'ChromiumFlaky',
    'builder': 'Linux Flaky Tester (dbg)',
    'hostname': 'vm71-m1',
    'os': 'linux',
    'version': 'lucid',
    'bits': '64',
  },
  {
    'master': 'ChromiumFlaky',
    'hostname': 'vm142-m1',
    'builder': 'Win Flaky Builder (dbg)',
    'os': 'win',
    'version': 'vista',
    'bits': '64',
  },
  {
    'master': 'ChromiumFlaky',
    'hostname': 'vm143-m1',
    'builder': 'Win Flaky Tester (dbg)',
    'os': 'win',
    'version': 'vista',
    'bits': '64',
  },
  {
    'master': 'ChromiumFlaky',
    'hostname': 'vm612-m1',
    'builder': 'Mac Flaky Builder (dbg)',
    'os': 'mac',
    'version': '10.6',
    'bits': '64',
  },
  {
    'master': 'ChromiumFlaky',
    'hostname': 'vm613-m1',
    'builder': 'Mac Flaky Tester (dbg)',
    'os': 'mac',
    'version': '10.6',
    'bits': '64',
  },
]
