# -*- python -*-
# ex: set syntax=python:

# Copyright (c) 2011 The Chromium Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# See master.experimental/slaves.cfg for documentation.


slaves = [
  {
    'master': 'ChromiumFlaky',
    'builder': 'Linux Flaky Builder (dbg)',
    'hostname': 'vm56-m1',
    'os': 'linux',
    'version': 'lucid',
    'bits': '64',
  },
  {
    'master': 'ChromiumFlaky',
    'builder': 'Linux Flaky Tester (dbg)(1)',
    'hostname': 'vm71-m1',
    'os': 'linux',
    'version': 'lucid',
    'bits': '64',
  },
  {
    'master': 'ChromiumFlaky',
    'builder': 'Linux Flaky Tester (dbg)(2)',
    'hostname': 'vm94-m1',
    'os': 'linux',
    'version': 'lucid',
    'bits': '64',
  },
  {
    'master': 'ChromiumFlaky',
    'hostname': 'vm142-m1',
    'builder': 'Win Flaky Builder (dbg)',
    'os': 'win',
    'version': 'vista',
    'bits': '64',
  },
  {
    'master': 'ChromiumFlaky',
    'hostname': 'vm143-m1',
    'builder': 'Win Flaky Tester (dbg)(1)',
    'os': 'win',
    'version': 'vista',
    'bits': '64',
  },
  {
    'master': 'ChromiumFlaky',
    'hostname': 'vm144-m1',
    'builder': 'Win Flaky Tester (dbg)(2)',
    'os': 'win',
    'version': 'vista',
    'bits': '64',
  },
]
