# -*- python -*-
# ex: set syntax=python:

# Copyright 2015 The Chromium Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

linux_slave_builder_map = {
  '44': ['linux', 'linux_shared', 'linux32', 'linux_noasm_asan'],
}

win_slave_builder_map = {
  '131': ['win64', 'win32'],
}

mac_slave_builder_map = {
  '2': ['mac'],
}


linux_slaves = [
  {
    'master': 'Boringssl',
    'builder': builders,
    'hostname': 'slave%s-c3' % host,
    'os': 'linux',
    'version': 'trusty',
    'bits': '64',
  } for host, builders in linux_slave_builder_map.iteritems()
]

win_slaves = [
  {
    'master': 'Boringssl',
    'builder': builders,
    'hostname': 'vm%s-m3' % host,
    'os': 'win',
    'version': 'win7',
    'bits': '64',
  } for host, builders in win_slave_builder_map.iteritems()
]

mac_slaves = [
  {
    'master': 'Boringssl',
    'builder': builders,
    'hostname': 'vm%s-m3' % host,
    'os': 'mac',
    'version': '10.9',
    'bits': '64',
  } for host, builders in mac_slave_builder_map.iteritems()
]

slaves = linux_slaves + win_slaves + mac_slaves
