# -*- python -*-
# ex: set syntax=python:

# Copyright 2015 The Chromium Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

slave_builder_map = {
  '44': ['linux'],
}


linux_slaves = [
  {
    'master': 'Boringssl',
    'builder': builders,
    'hostname': 'slave%s-c3' % host,
    'os': 'linux',
    'version': 'trusty',
    'bits': '64',
  } for host, builders in slave_builder_map.iteritems()
]

win_slaves = []
mac_slaves = []

slaves = linux_slaves + win_slaves + mac_slaves
