# -*- python -*-
# ex: set syntax=python:

# Copyright (c) 2006-2009 The Chromium Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# See master.experimental/slaves.cfg for documentation.


slaves = [
  {
    'master': 'ChromiumFYI',
    'builder': 'XP Tests',
    'hostname': 'vm34-m1',
    'os': 'win',
    'version': 'xp',
    'bits': '32',
  },
  {
    'master': 'ChromiumFYI',
    'builder': 'Chromium Vista 64',
    'hostname': 'vm40-m1',
    'os': 'win',
    'version': 'vista',
    'bits': '64',
  },
  {
    'master': 'ChromiumFYI',
    'builder': 'Chromium Windows7',
    'hostname': 'vm48-m1',
    'os': 'win',
    'version': 'win7',
    'bits': '64',
  },
  {
    'master': 'ChromiumFYI',
    'builder': 'XP Perf (jank)',
    'hostname': 'perxxx',
    'os': 'win',
    'version': 'xp',
    'bits': '32',
  },
  {
    'master': 'ChromiumFYI',
    'builder': 'Vista Perf (jank)',
    'hostname': 'perfyyy',
    'os': 'win',
    'version': 'vista',
    'bits': '32',
  },
  {
    'master': 'ChromiumFYI',
    'builder': 'Chromium Linux Reliability Builder',
    'hostname': 'vm71-m1',
    'os': 'linux',
    'version': 'hardy',
    'bits': '32',
  },
  {
    'master': 'ChromiumFYI',
    'builder': 'Webkit Vista (dbg)',
    'hostname': 'vm41-m1',
    'os': 'win',
    'version': 'vista',
    'bits': '64',
  },
  {
    'master': 'ChromiumFYI',
    'builder': 'Webkit Windows7 (dbg)',
    'hostname': 'vm49-m1',
    'os': 'win',
    'version': 'win7',
    'bits':  '64',
  },
  {
    'master': 'ChromiumFYI',
    'builder': 'Webkit Linux 64',
    'hostname': 'vm53-m1',
    'os': 'linux',
    'version': 'hardy',
    'bits': '64',
  },
  {
    'master': 'ChromiumFYI',
    'builder': 'Chromium Linux (dbg-shlib)',
    'hostname': 'vm77-m1',
    'os': 'linux',
    'version': 'lucid',
    'bits': '64',
  },
  {
    'master': 'ChromiumFYI',
    'builder': 'Webkit Mac (valgrind layout)',
    'slavename': 'mini110-m1',
    'os': 'mac',
    'version': '10.5',
    'bits': '64',
  },
  {
    'master': 'ChromiumFYI',
    'builder': ['Chromium Mac GYP', 'GYP Mac'],
    'hostname': 'mini14-m1',
    'os': 'mac',
    'version': '10.6',
    'bits': '64',
  },
  {
    'master': 'ChromiumFYI',
    'builder': 'Mac Coverage (dbg)',
    'hostname': 'mini15-m1',
    'os': 'mac',
    'version': '10.6',
    'bits': '64',
  },
  {
    'master': 'ChromiumFYI',
    'builder': ['Linux Coverage (dbg)', 'Chromium Linux GYP (make)',
                'Chromium Linux GYP (scons)', 'GYP Linux (make)',
                'GYP Linux (scons)'],
    'hostname': 'vm72-m1',
    'os': 'linux',
    'version': 'hardy',
    'bits': '32',
  },
  {
    'master': 'ChromiumFYI',
    'builder': ['Chromium XP GYP', 'GYP XP'],
    'hostname': 'vm35-m1',
    'os': 'win',
    'version': 'xp',
    'bits': '32',
  },
  {
    'master': 'ChromiumFYI',
    'builder': ['Win Coverage (dbg)'],
    'hostname': 'vm42-m1',
    'os': 'win',
    'version': 'vista',
    'bits': '64',
  },
  {
    'master': 'ChromiumFYI',
    'builder': 'Chromium Vista Memory',
    'hostname': 'vm43-m1',
    'os': 'win',
    'version': 'vista',
    'bits': '64',
  },
  {
    'master': 'ChromiumFYI',
    'builder': 'Chromium Linux Memory',
    'hostname': 'vm73-m1',
    'os': 'linux',
    'version': 'hardy',
    'bits': '32',
  },
  {
    'master': 'ChromiumFYI',
    'builder': 'Chromium Mac Memory',
    'hostname': 'mini16-m1',
    'os': 'mac',
    'version': '10.6',
    'bits': '64',
  },
  {
    'master': 'ChromiumFYI',
    'builder': 'Ubuntu Packaging GYP',
    'hostname': 'vm78-m1',
    'os': 'linux',
    'version': 'lucid',
    'bits': '64',
  },
  {
    'master': 'ChromiumFYI',
    'builder': 'Chromium Embedded',
    'hostname': 'vm44-m1',
    'os': 'win',
    'version': 'vista',
    'bits': '64',
  },
  {
    'master': 'ChromiumFYI',
    'builder': 'Linux Target Builds',
    'hostname': 'vm54-m1',
    'os': 'linux',
    'version': 'hardy',
    'bits': '64',
  },
  {
    'master': 'ChromiumFYI',
    'builder': 'Mac Target Builds',
    'hostname': 'mini17-m1',
    'os': 'mac',
    'version': '10.6',
    'bits': '64',
  },
  {
    'master': 'ChromiumFYI',
    'builder': 'Win Target Builds',
    'hostname': 'vm45-m1',
    'os': 'win',
    'version': 'vista',
    'bits': '64',
  },
  {
    'master': 'ChromiumFYI',
    'builder': 'Linux Perf (lowmem)',
    'slavename': 'perfzzz',
    'os': 'linux',
    'version': 'hardy',
    'bits': '32',
  },
  {
    'master': 'ChromiumFYI',
    'builder': 'Chromium Linux Builder (valgrind x64)',
    'hostname': 'vm55-m1',
    'os': 'linux',
    'version': 'hardy',
    'bits': '64',
  },
  {
    'master': 'ChromiumFYI',
    'builder': 'Linux Tests (tsan x64)',
    'hostname': 'vm56-m1',
    'os': 'linux',
    'version': 'hardy',
    'bits': '64',
  },
  {
    'master': 'ChromiumFYI',
    'builder': 'Linux Tests (tsan ui)',
    'hostname': 'vm74-m1',
    'os': 'linux',
    'version': 'hardy',
    'bits': '32',
  },
  {
    'master': 'ChromiumFYI',
    'builder': 'Chromium Mac 10.6 (tsan)',
    'slavename': 'mini18-m1',
    'os': 'mac',
    'version': '10.6',
    'bits': '64',
  },
  {
    'master': 'ChromiumFYI',
    'builder': 'Windows Tests (DrMemory)',
    'hostname': 'vm46-m1',
    'os': 'win',
    'version': 'vista',
    'bits': '64',
  },
  {
    'master': 'ChromiumFYI',
    'builder': 'Chromium Linux Wine (valgrind)',
    'hostname': 'vm75-m1',
    'os': 'linux',
    'version': 'hardy',
    'bits': '32',
  },
  {
    'master': 'ChromiumFYI',
    'builder': 'Chromium XP Wine Valgrind Builder',
    'slavename': 'vm36-m1',
    'os': 'win',
    'version': 'xp',
    'bits': '32',
  },
  {
    'master': 'ChromiumFYI',
    'builder': 'Chromium Builder',
    'slavename': 'build15-m1',
    'os': 'win',
    'version': '2008',
    'bits': '64',
  },
  {
    'master': 'ChromiumFYI',
    'builder': 'Chromium Vista (dbg shared)',
    'slavename': 'vm47-m1',
    'os': 'win',
    'version': 'vista',
    'bits': '64',
  },
  {
    'master': 'ChromiumFYI',
    'builder': 'Chromium Windows7 Sync',
    'slavename': 'vm50-m1',
    'os': 'win',
    'version': 'win7',
    'bits': '64',
  },
  {
    'master': 'ChromiumFYI',
    'builder': 'Chromium Mac Sync',
    'hostname': 'mini19-m1',
    'os': 'mac',
    'version': '10.6',
    'bits': '64',
  },
  {
    'master': 'ChromiumFYI',
    'builder': 'Chrome Frame Perf',
    'hostname': 'perfABC',
    'os': 'win',
    'version': 'win7',
    'bits': '64',
  },
  {
    'master': 'ChromiumFYI',
    'builder': 'Chromium Linux Debug Clang',
    'hostname': 'vm79-m1',
    'os': 'linux',
    'version': 'lucid',
    'bits': '64',
  },
  {
    'master': 'ChromiumFYI',
    'builder': 'Chromium Mac Debug Clang',
    'hostname': 'mini20-m1',
    'os': 'mac',
    'version': '10.6',
    'bits': '64',
  },
]
