# -*- python -*-
# ex: set syntax=python:

# Copyright (c) 2012 The Chromium Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# See master.experimental/slaves.cfg for documentation.


slaves = [
################################################################################
# Linux
################################################################################
#   {
#     'master': 'Chromium',
#     'hostname': 'build59-m1',
#     'builder': 'Linux Builder x64',
#     'os': 'linux',
#     'version': 'lucid',
#     'bits': '64',
#   },
#   {
#     'master': 'Chromium',
#     'hostname': 'vm119-m1',
#     'builder': 'Linux Tests x64',
#     'os': 'linux',
#     'version': 'lucid',
#     'bits': '64',
#   },
#   {
#     'master': 'Chromium',
#     'builder': 'Linux (aura)',
#     'hostname': 'vm80-m1',
#     'os': 'linux',
#     'version': 'lucid',
#     'bits': '32',
#   },
#   {
#     'master': 'Chromium',
#     'hostname': 'build13-m1',
#     'builder': 'Linux Builder (dbg)',
#     'os': 'linux',
#     'version': 'lucid',
#     'bits': '32',
#   },
#   {
#     'master': 'Chromium',
#     'hostname': 'vm128-m1',
#     'builder': 'Linux Tests (dbg)(1)',
#     'os': 'linux',
#     'version': 'lucid',
#     'bits': '32',
#   },
#   {
#     'master': 'Chromium',
#     'hostname': 'vm129-m1',
#     'builder': 'Linux Tests (dbg)(2)',
#     'os': 'linux',
#     'version': 'lucid',
#     'bits': '32',
#   },
#   {
#     'master': 'Chromium',
#     'builder': 'Linux Sync',
#     'hostname': 'vm121-m1',
#     'os': 'linux',
#     'version': 'lucid',
#     'bits': '64',
#   },
#   {
#     'master': 'Chromium',
#     'builder': 'Linux Clang (dbg)',
#     'hostname': 'vm79-m1',
#     'os': 'linux',
#     'version': 'lucid',
#     'bits': '64',
#   },
# ################################################################################
# # Android
# ################################################################################
#   {
#     'master': 'Chromium',
#     'hostname': 'vm138-m1',
#     'builder': 'Android Builder',
#     'os': 'linux',
#     'version': 'lucid',
#     'bits': '64',
#   },
]
