# -*- python -*-
# ex: set syntax=python:

# Copyright (c) 2012 The Chromium Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# See master.experimental/slaves.cfg for documentation.


slaves = [
################################################################################
# Linux
################################################################################
  {
    'master': 'ChromiumLinux',
    'builder': 'Cast Audio Linux',
    'hostname': 'vm184-m1',
    'os': 'linux',
    'version': 'trusty',
    'bits': '64',
  },
  {
    'master': 'ChromiumLinux',
    'hostname': 'slave204-c1',
    'builder': 'Leak Detection Linux',
    'os': 'linux',
    'version': 'trusty',
    'bits': '64',
  },
  {
    'master': 'ChromiumLinux',
    'builder': 'Ozone Linux',
    'hostname': 'slave17-c1',
    'os': 'linux',
    'version': 'trusty',
    'bits': '64',
  },
]
