# Copyright 2014 The Chromium Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

slaves = [
  {
    'master': 'Crashpad',
    'builder': [
                 'crashpad_win_dbg',
                 'crashpad_win_rel',
               ],
    'hostname': 'vm254-m3',
    'os': 'win',
    'version': 'win7',
    'bits': '64',
  },
  {
    'master': 'Crashpad',
    'builder': [
                 'crashpad_mac_dbg',
                 'crashpad_mac_rel',
               ],
    'hostname': 'vm665-m3',
    'os': 'mac',
    'version': '10.9.5',
    'bits': '64',
  },
]
