# -*- python -*-
# ex: set syntax=python:

# Copyright (c) 2006-2009 The Chromium Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# This is an list of dictionaries to describe slaves.
# This list is intentionally flat to be easy to filter arbitrarily.

slaves = [
  {
    'master': 'Toolkit',
    'builder': 'Win Tester',
    'slavename': 'win-tester',
    'hostname': 'vm87-m3',
    'os': 'win7'
  },
  {
    'master': 'Toolkit',
    'builder': 'Mac Tester',
    'slavename': 'mac-tester',
    'hostname': 'vm667-m3',
    'os': 'oxs10.8'
  },
  {
    'master': 'Toolkit',
    'builder': 'Linux Tester',
    'slavename': 'linux-tester',
    'hostname': 'mv30-m3',
    'os': 'precise'
  },
]
