# -*- python -*-
# ex: set syntax=python:

# Copyright (c) 2010 The Chromium Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# This is an list of dictionaries to describe slaves.
# This list is intentionally flat to be easy to filter arbitrarily.

slaves = [
### Sample
  #{
    # Chromium, TryServer, O3D, etc.
    #'master': string,

    # Builder that this slave connects to.
    #'builder': string,

    # (Optional) Host name of the slave.
    #'hostname': string,

    # (Optional) Slave name in buildbot (not the builder display name!),
    # Defaults to hostname if set.
    #'slavename': string,

    # (Optional) Specific part of the OS type. 'xp', 'vista', 'jaunty',
    # 'win7', etc.
    #'os': string,

    # (Optional) VM host if a vm.
    #'vm_host': string,

    # (Optional) VM datastore if a vm.
    #'vm_host_datastore': number,

    # (Optional) Random notes.
    #'notes': string,
  #},
  {
    'master': 'V8',
    'builder': 'V8 Linux',
    'hostname': 'vm46-m3',
    'os': 'linux',
    'version': 'hardy',
    'bits': '32',
  },
  {
    'master': 'V8',
    'builder': 'V8 Linux64',
    'hostname': 'vm55-m3',
    'os': 'linux',
    'version': 'hardy',
    'bits': '64',
  },
  {
    'master': 'V8',
    'builder': 'V8 Linux - debug',
    'hostname': 'vm47-m3',
    'os': 'linux',
    'version': 'hardy',
    'bits': '32',
  },
  {
    'master': 'V8',
    'builder': 'V8 Linux64 - debug',
    'hostname': 'vm56-m3',
    'os': 'linux',
    'version': 'hardy',
    'bits': '64',
  },
  {
    'master': 'V8',
    'builder': 'V8 Linux - nosnap - debug',
    'hostname': 'vm48-m3',
    'os': 'linux',
    'version': 'hardy',
    'bits': '32',
  },
  {
    'master': 'V8',
    'builder': 'V8 Linux - nosnap',
    'hostname': 'vm49-m3',
    'os': 'linux',
    'version': 'hardy',
    'bits': '32',
  },
  {
    'master': 'V8',
    'builder': 'V8 Linux - arm - sim',
    'hostname': 'vm52-m3',
    'os': 'linux',
    'version': 'hardy',
    'bits': '32',
  },
  {
    'master': 'V8',
    'builder': 'V8 Linux - arm - sim - debug',
    'hostname': 'vm53-m3',
    'os': 'linux',
    'version': 'hardy',
    'bits': '32',
  },
  {
    'master': 'V8',
    'builder': 'V8 Arm - builder',
    'hostname': 'vm54-m3',
    'os': 'linux',
    'version': 'hardy',
    'bits': '32',
  },
  {
    'master': 'V8',
    'hostname': 'chrome-arm1',
    'builder': 'V8 Arm - tester',
    'slavename': 'v8-arm-tester',
  },
  {
    'master': 'V8',
    'builder': 'V8 Win32',
    'hostname': 'vm57-m3',
    'os': 'win',
    'version': 'xp',
    'bits': '32',
  },
  {
    'master': 'V8',
    'builder': 'V8 Win32 - debug',
    'hostname': 'vm58-m3',
    'os': 'win',
    'version': 'xp',
    'bits': '32',
  },
  {
    'master': 'V8',
    'builder': 'V8 Win64',
    'hostname': 'vm59-m3',
    'os': 'win',
    'version': 'vista',
    'bits': '64',
  },
  {
    'master': 'V8',
    'builder': 'V8 Mac',
    'hostname': 'mini14-m3',
    'os': 'mac',
    'version': '10.6',
    'bits': '64',
  },
  {
    'master': 'V8',
    'builder': 'V8 Mac - debug',
    'hostname': 'mini15-m3',
    'os': 'mac',
    'version': '10.6',
    'bits': '64',
  },
  {
    'master': 'V8',
    'builder': 'V8 Fuzzer',
    'hostname': 'vm22-m3',
    'os': 'linux',
    'version': 'hardy',
    'bits': '32',
  },
  {
    'master': 'V8',
    'builder': 'Vista Perf',
    'hostname': 'chromeperf02',
    'os': 'win',
    'version': 'vista',
    'bits': '64',
  },
  {
    'master': 'V8',
    'builder': 'Webkit Mac',
    'hostname': 'mini100-m3',
    'os': 'mac',
    'version': '10.5',
    'bits': '64',
  },
  {
    'master': 'V8',
    'builder': 'Mac10.6 Perf',
    'hostname': 'mini5-m3',
    'os': 'mac',
    'version': '10.6',
    'bits': '64',
  },
  {
    'master': 'V8',
    'builder': 'Webkit',
    'hostname': 'vm6-m3',
    'os': 'win',
    'version': 'xp',
    'bits': '32',
  },
  {
    'master': 'V8',
    'builder': 'Webkit Linux',
    'hostname': 'vm17-m3',
    'os': 'linux',
    'version': 'hardy',
    'bits': '32',
  },
  {
    'master': 'V8',
    'builder': 'Webkit Linux 64',
    'hostname': 'vm30-m3',
    'os': 'linux',
    'version': 'hardy',
    'bits': '64',
  },
  {
    'master': 'V8',
    'builder': 'XP Interactive (dbg)',
    'hostname': 'vm7-m3',
    'os': 'win',
    'version': 'xp',
    'bits': '32',
  },
  {
    'master': 'V8',
    'builder': 'Linux Interactive (dbg)',
    'hostname': 'vm18-m3',
    'os': 'linux',
    'version': 'hardy',
    'bits': '32',
  },
]
