# -*- python -*-
# ex: set syntax=python:

# Copyright (c) 2012 The Chromium Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# See master.experimental/slaves.cfg for documentation.


slaves = [
### NativeClient
  # ARM
  {
    'master': 'NativeClient',
    'builder': [
      'oneiric_32-newlib-arm_hw-pnacl-panda-dbg',
    ],
    'hostname': 'build27-b3',
    'os': 'linux',
    'version': 'armboard',
    'bits': '32',
    'arm_tools': True,
  },
  {
    'master': 'NativeClient',
    'builder': [
      'oneiric_32-newlib-arm_hw-pnacl-panda-opt',
    ],
    'hostname': 'build26-b3',
    'os': 'linux',
    'version': 'armboard',
    'bits': '32',
    'arm_tools': True,
  },
  {
    'master': 'NativeClient',
    'builder': [
      'oneiric_32-newlib-arm_hw-pnacl-panda-spec',
    ],
    'hostname': 'build25-b3',
    'os': 'linux',
    'version': 'armboard',
    'bits': '32',
    'arm_tools': True,
  },

]
