# -*- python -*-
# ex: set syntax=python:

# Copyright (c) 2010 The Chromium Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# See master.experimental/slaves.cfg for documentation.


slaves = [
  {
    'master': 'ChromiumOS',
    'builder': 'x86 generic full',
    'hostname': 'build2-m2',
    'os': 'linux',
  },
  {
    'master': 'ChromiumOS',
    'builder': 'x86 generic pre flight queue',
    'hostname': 'build3-m2',
    'os': 'linux',
  },
  {
    'master': 'ChromiumOS',
    'builder': 'x86 generic tot chrome pre flight queue',
    'hostname': 'vm1-m2',
    'os': 'linux',
  },
  {
    'master': 'ChromiumOS',
    'builder': 'x86 generic chrome pre flight queue',
    'hostname': 'build1-m2',
    'os': 'linux',
  },
  {
    'master': 'ChromiumOS',
    'builder': 'x86 pineview binary',
    'hostname': 'build4-m2',
    'os': 'linux',
  },
  {
    'master': 'ChromiumOS',
    'builder': 'x86 pineview full',
    'hostname': 'build5-m2',
    'os': 'linux',
  },
  {
    'master': 'ChromiumOS',
    'builder': 'arm generic binary',
    'hostname': 'build6-m2',
    'os': 'linux',
  },
  {
    'master': 'ChromiumOS',
    'builder': 'arm generic full',
    'hostname': 'build7-m2',
    'os': 'linux',
  },
  {
    'master': 'ChromiumOS',
    'builder': 'arm tegra2 binary',
    'hostname': 'build8-m2',
    'os': 'linux',
  },
  {
    'master': 'ChromiumOS',
    'builder': 'arm tegra2 full',
    'hostname': 'build9-m2',
    'os': 'linux',
  },
  {
    'master': 'ChromiumOS',
    'builder': 'arm tegra2 seaboard full',
    'hostname': 'build10-m2',
    'os': 'linux',
  },

]
