# Copyright (c) 2010 The Chromium Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

slaves = [
  {
    'master': 'ChromiumWebkit',
    'builder': ['Win Builder',
                'Win Reliability Builder'],
    'slavename': 'buildX1-m1',
    'os': 'win',
    'version': '2008',
    'bits': '64',
  },
  {
    'master': 'ChromiumWebkit',
    'builder': 'Vista Perf',
    'slavename': 'perfX',
    'os': 'win',
    'version': 'vista',
    'bits': '64'
  },
  {
    'master': 'ChromiumWebkit',
    'builder': 'Vista Tests',
    'slavename': 'vm38-m1',
    'os': 'win',
    'version': 'vista',
    'bits': '64',
  },
  {
    'master': 'ChromiumWebkit',
    'builder': 'Webkit Win',
    'hostname': 'vm33-m1',
    'os': 'win',
    'version': 'xp',
    'bits': '32',
  },
  {
    'master': 'ChromiumWebkit',
    'builder': 'Webkit Linux',
    'hostname': 'vm57-m1',
    'os': 'linux',
    'version': 'hardy',
    'bits': '32',
  },
  {
    'master': 'ChromiumWebkit',
    'builder': 'Webkit Linux (valgrind)',
    'hostname': 'vm58-m1',
    'os': 'linux',
    'version': 'hardy',
    'bits': '32',
  },
  {
    'master': 'ChromiumWebkit',
    'builder': 'Webkit Mac',
    'hostname': 'mini108-m1',
    'os': 'mac',
    'version': '10.5',
    'bits': '64'
  },
  {
    'master': 'ChromiumWebkit',
    'builder': 'Linux Perf',
    'slavename': 'perfX6',
    'os': 'linux',
    'version': 'hardy',
    'bits': '32',
  },
  {
    'master': 'ChromiumWebkit',
    'builder': 'Mac10.6 Perf',
    'slavename': 'mini6-m1',
    'os': 'mac',
    'version': '10.6',
    'bits': '64',
  },
]
