# -*- python -*-
# ex: set syntax=python:

# Copyright (c) 2012 The Chromium Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# See master.experimental/slaves.cfg for documentation.


slaves = [
  {
    'master': 'ChromiumMemory',
    'builder': 'ASAN Builder',
    'hostname': 'build64-m1',
    'os': 'linux',
    'version': 'lucid',
    'bits': '64',
  },
  {
    'master': 'ChromiumMemory',
    'builder': 'ASAN Tests (1)',
    'hostname': 'vm173-m1',
    'os': 'linux',
    'version': 'lucid',
    'bits': '64',
  },
  {
    'master': 'ChromiumMemory',
    'builder': 'ASAN Tests (2)',
    'hostname': 'vm174-m1',
    'os': 'linux',
    'version': 'lucid',
    'bits': '64',
  },
]
