{% extends "layout.html" %}

{% block header -%}
{{ super() }}
<script type="text/javascript" src="../mochikit/MochiKit.js"></script>
<script type="text/javascript" src="../plotkit/Base.js"></script>
<script type="text/javascript" src="../plotkit/Layout.js"></script>
<script type="text/javascript" src="../plotkit/Canvas.js"></script>
<script type="text/javascript" src="../plotkit/SweetCanvas.js"></script>
{% endblock header %}

{% block content %}
<center><h2>Coming soon...</h2></center>
{% endblock content %}
