# Copyright (c) 2012 The Chromium Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

slaves = [
  # Linux.
  {
    'master': 'Libjingle',
    'os': 'linux',
    'version': 'lucid',
    'bits': '64',
    'builder': ['Linux32 Debug', 'Linux32 Release', 'Linux Clang', 'Chrome OS'],
    'hostname': 'vm317-m3',
  },
  {
    'master': 'Libjingle',
    'os': 'linux',
    'version': 'lucid',
    'bits': '64',
    'builder': ['Linux64 Debug', 'Linux64 Release', 'Linux Memcheck'],
    'hostname': 'vm318-m3',
  },
  {
    'master': 'Libjingle',
    'os': 'linux',
    'version': 'lucid',
    'bits': '64',
    'builder': ['Linux Clang', 'Linux Tsan', 'Linux Asan'],
    'hostname': 'vm319-m3',
  },
  # Mac.
  {
    'master': 'Libjingle',
    'os': 'mac',
    'version': '10.7',
    'bits': '64',
    'builder': ['Mac32 Debug', 'Mac32 Release', 'Mac Asan'],
    'hostname': 'vm676-m3',
  },
  # Windows.
  {
    'master': 'Libjingle',
    'os': 'win',
    'version': 'win7',
    'bits': '64',
    'builder': ['Win32 Debug', 'Win32 Release'],
    'hostname': 'vm320-m3',
  },
]
